modules/altinn/skjemaer/melding-1156-4544.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1115: Søknad om utsatt frist for levering av selvangivelsen - private' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1115 Søknad om utsatt frist for levering av selvangivelsen for  inntektsåret 2005</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Skjemaet sendes inn av lønnstakere og pensjonister. Næringsdrivende  skal bruke RF-1114.  </p>
                    <p/>
                    <p>Utsettele av leveringsfristen fører til at du ikke får skatteoppgjør  før til høsten.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>RF-1115 Søknad om utsetjing av frist for levering av sjølvmeldinga for  inntektsåret 2005</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                    <p>Skjemaet skal sendast inn av lønnstakarar og pensjonistar.  Næringsdrivande skal bruke RF-1114.  </p>
                    <p/>
                    <p>Utsett leveringsfrist fører til at du får skatteoppgjeret til hausten.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="soknad-grp-5663"/>
            </xs:sequence>
            <xs:attribute fixed="1156" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="4544" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1115" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Søknad om utsatt frist for levering av selvangivelsen - private" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="5661" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="soknad-grp-5663">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Søknad om utsatt frist</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Søknad om utsett frist</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="skattyterinformasjon-grp-5664"/>
                <xs:element minOccurs="0" ref="Kontaktperson-grp-5665"/>
                <xs:element minOccurs="0" ref="soknaden-grp-5666"/>
            </xs:sequence>
            <xs:attribute fixed="5663" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="skattyterinformasjon-grp-5664">
        <xs:annotation/>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="OppgavegiverNavn-datadef-68">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="OppgavegiverFodselsnummer-datadef-26">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Fødselsnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Fødselsnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverPostadresse-datadef-2442">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverPostnummer-datadef-6676">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverPoststed-datadef-6677">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststad</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="5664" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverNavn-datadef-68">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Navn på oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="DEF">
                    <p>Namn på oppgåvegjevar</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="68" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OppgavegiverFodselsnummer-datadef-26">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Fødselsnummer til oppgavegiveren</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst1111Modulus11-repformat-18">
                    <xs:attribute fixed="26" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst1111Modulus11-repformat-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">18</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OppgavegiverPostadresse-datadef-2442">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="2442" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OppgavegiverPostnummer-datadef-6676">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer til oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6676" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OppgavegiverPoststed-datadef-6677">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed til oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6677" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Kontaktperson-grp-5665">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Kontaktinformasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Legg inn kontaktopplysninger slik at likningskontoret kan ta kontakt  ved behandlingen av søknaden.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Kontaktinformasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Legg ved kontaktopplysningar slik at likningskontoret kan ta kontakt  når det skal behandle søknaden</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="KontaktpersonNavn-datadef-2">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KontaktpersonEPost-datadef-2876">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>E-postadresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>E-postadresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="5665" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="KontaktpersonNavn-datadef-2">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst150-repformat-13">
                    <xs:attribute fixed="2" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst150-repformat-13">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KontaktpersonEPost-datadef-2876">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Kontaktpersonens epostadresse</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst100-repformat-48">
                    <xs:attribute fixed="2876" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst100-repformat-48">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">48</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="soknaden-grp-5666">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Søknadsinformasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Foreligger det grunner som gjør det vanskelig å levere selvangivelsen  i tide, kan du søke om utsettelse. Alle søknader om utsettelse blir  automatisk innvilget til 31.05.2006 ved innsending. Søker du om  ytterligere
                        utsettelse, blir spørsmål om utsettelse ut over  31.05.2006 behandlet av likningskontoret. Du får brev fra  likningskontoret når søknaden er behandlet for denne delen.  </p>
                    <p/>
                    <p>Søker du om utsettelse elektronisk, må du også levere selvangivelsen  elektronisk. Får du lenger utsettelse enn 31.05.2006, og du også  leverer selvangivelsen etter dette, må du imidlertid levere  selvangivelsen på papir.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Foreligger det grunner som gjør at du ikke kan levere selvangivelsen  innen fristen, kan du søke om utsettelse. Alle søknader om utsettelse  blir automatisk innvilget til 31.05.2006. Søker du om ytterligere  utsettelse, blir
                        spørsmål om utsettelse ut over 31.05.2006 behandlet  av likningskontoret.  </p>
                    <p/>
                    <p>Utsettelse av leveringsfristen fører til at du ikke får  skatteoppgjøret før til høsten.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Søknadsinformasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Føreligg det grunnar som gjer det vanskeleg å levere sjølvmeldinga i  tide, kan du søkje om utsetjing. Alle søknader om utsetjing blir  automatisk innvilga til 31.05.2006 når dei kjem inn. Søkjer du om  lengre utsetjing, blir
                        spørsmål om utsetjing ut over 31.05.2006  behandla av likningskontoret. Du får brev frå likningskontoret når  spørsmål om utsetjing ut over 31.05.2006 er ferdigbehandla.  </p>
                    <p/>
                    <p>Søkjer du elektronisk om utsetjing, må du også levere sjølvmeldinga  elektronisk. Får du godkjend lengre utsetjing enn 31.05.2006, og du  leverar sjølvmeldinga seinare enn dette, må du likevel levere  sjølvmeldinga på papir.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                    <p>Føreligg det grunnar som gjer det vanskeleg å levere sjølvmeldinga i  tide, kan du søkje om utsetjing. Alle søknader om utsetjing blir  automatisk innvilga til 31.05.2006. Søkjer du om lengre utsetjing,  blir spørsmål om
                        utsetjing ut over 31.05.2006 behandla av  likningskontoret.  </p>
                    <p/>
                    <p>Utsett leveringsfrist fører til at du får skatteoppgjeret til hausten.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="SoknadLeveringsfristUtsettelse-datadef-24891">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Det søkes om utsettelse til</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Det blir søkt om utsetjing til</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LeveringsfristSoknadUtsettelseForespurtDato-datadef-24522">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Dato</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Oppgi dato dersom du søker lenger utsettelse enn 31.5.2006.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Dato</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Gi opp dato dersom du søkjer om utsetjing ut over 31.05.2006.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LeveringsfristSoknadUtsettelseBegrunnelse-datadef-24524">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Begrunnelse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Søker du om utsettelse til 31.5.2006, skal søknaden ikke begrunnes.  Søker du om lenger utsettelse, må søknaden begrunnes.  </p>
                                <p/>
                                <p>Likningskontoret tar kontakt dersom det trenger dokumentasjon.  </p>
                                <p/>
                                <p>NB! Inneholder begrunnelsen sensitive personopplysninger (f. eks. om  sykdom), må den sendes i brev til likningskontoret. Opplys i feltet  for begrunnelse at begrunnelsen er sendt i brev.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Inneholder begrunnelsen sensitive personopplysninger (f. eks. om  sykdom) må den sendes i brev til likningskontoret.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Grunngiving</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Søkjer du om utsetjing til 31.05.2005, skal du ikkje grunngi søknaden.  Søkjer du om lengre utsetjing, må du grunngi søknaden.  </p>
                                <p/>
                                <p>Likningskontoret tek kontakt om det treng dokumentasjon.  </p>
                                <p/>
                                <p>NB! Innheheld grunngjevinga sensitive personopplysningar (til dømes om  sjukdom), må du sende ho i brev til likningskontoret. Opplys i feltet  for grunngiving at grunngivinga blir send i brev.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Inneheld grunngivinga sensitive personopplysningar (til dømes om  sjukdom) må du sende ho i brev til likningskontoret.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="5666" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SoknadLeveringsfristUtsettelse-datadef-24891">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Om det søkes utsettelse til 31.05.06 eller etter 31.05.06.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="KodelisteEttValg2DatoTil310506EllerEtter310506-repformat-453">
                    <xs:attribute fixed="24891" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="KodelisteEttValg2DatoTil310506EllerEtter310506-repformat-453">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">453</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
            <xs:enumeration value="Ja">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Utsettelse til 31.05.06</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Utsetjing til 31.05.06</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Nei">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Utsettelse etter 31.05.06</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Utsetjing etter 31.05.06</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="LeveringsfristSoknadUtsettelseForespurtDato-datadef-24522">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Dato det søkes utsettelse til</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Dato-repformat-5">
                    <xs:attribute fixed="24522" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Dato-repformat-5">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:element name="LeveringsfristSoknadUtsettelseBegrunnelse-datadef-24524">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Begrunnelse for søknad om utsatt leveringsfrist.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst999-repformat-97">
                    <xs:attribute fixed="24524" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst999-repformat-97">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">97</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="999"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
