modules/altinn/skjemaer/melding-878-2076.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1187: Selskapets oppgave over deltakers inntekt i ANS, KS og NOKUS mv.' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1187 Selskapets oppgave over deltakers inntekt i ansvarlig selskap,  kommandittselskap og NOKUS-selskap mv. 2003</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Selskapet skal fylle ut selskapets/deltakerens navn, adresse mv. og  postene under I, II og III. Deltakeren skal eventuelt fylle ut  postene under IV. Selskapet leverer RF-1187 med kopi til deltaker.  Deltaker leverer RF-1186.  </p>
                    <p/>
                    <p>Andre offentlige organers bruk av opplysninger i RF-1187. For å  samordne og forenkle oppgaveinnleveringen fra næringslivet, kan  opplysninger som avgis i dette skjemaet, RF-1187, helt eller delvis  bli benyttet også av andre
                        offentlige organer som har hjemmel til å  innhente de samme opplysningene, jf. lov om Oppgaveregisteret §§5 og  6. Opplysninger om evt. samordning kan fås ved henvendelse til  Oppgaveregisteret på telefon 75 00 75 00, eller
                        Skattedirektoratet på  telefon 22 07 70 00.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Rederibeskatning etter skatteloven §8-10 flg.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GenerellInformasjon-grp-3905"/>
                <xs:element minOccurs="0" ref="DeltakersInntektOgFormue-grp-3914"/>
                <xs:element minOccurs="0" ref="Ansvarskapital-grp-3907"/>
                <xs:element minOccurs="0" ref="PosterTilBeregningForDeltakerne-grp-3908"/>
                <xs:element minOccurs="0" ref="Inntredelsesbeskatning-grp-3919"/>
            </xs:sequence>
            <xs:attribute fixed="878" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="2076" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1187" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Selskapets oppgave over deltakers inntekt i ANS, KS og NOKUS mv." name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="1561" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerellInformasjon-grp-3905">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Deltaker-grp-3910"/>
                <xs:element minOccurs="0" ref="Selskap-grp-3912"/>
            </xs:sequence>
            <xs:attribute fixed="3905" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Deltaker-grp-3910">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Deltaker</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="DeltakerNavn-datadef-1025">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="DeltakerEierandel-datadef-1028">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Selskapsandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="DeltakerKommune-datadef-3112">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kontorkommune</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="DeltakerOrganisasjonsnummer-datadef-3648">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Organisasjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="DeltakerAdresse-datadef-1070">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="DeltakerPostnummer-datadef-7835">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="DeltakerPoststed-datadef-7836">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3910" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeltakerNavn-datadef-1025">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="1025" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DeltakerEierandel-datadef-1028">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Desimal73Desimaler-repformat-136">
                    <xs:attribute fixed="1028" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Desimal73Desimaler-repformat-136">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">136</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter number with three fraction digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever tre desimaler</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev tre desimalar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="7"/>
            <xs:pattern value="-{0,1}[0-9]{1,}\.[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DeltakerKommune-datadef-3112">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="3112" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeltakerOrganisasjonsnummer-datadef-3648">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="3648" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DeltakerAdresse-datadef-1070">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="1070" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeltakerPostnummer-datadef-7835">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="7835" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DeltakerPoststed-datadef-7836">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="7836" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Selskap-grp-3912">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Selskapet</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EnhetNavn-datadef-1">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetOrganisasjonsform-datadef-756">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Ansvarsform</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetOrganisasjonsnummer-datadef-18">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Organisasjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetMorOrganisasjonsnummer-datadef-5128">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Konsernspiss/org.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>I opplysningsfeltet bes det om å oppgi norsk konsernspiss med  organisasjonsnr. Med norsk menes selskap skattepliktig til Norge. Med  konsernspiss menes et selskap i øverste/første morselskap i en  uavbrutt rekke
                                    som direkte eller indirekte representerer flertall av  stemmene i det undeliggende selskap etter definisjonen i  selskapsloven §1-2 andre ledd.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetAdresse-datadef-15">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kontor-(virksomhets) adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPostnummer-datadef-6673">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPoststed-datadef-6674">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetTelefonnummer-datadef-755">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Telefonnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3912" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetNavn-datadef-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="1" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetOrganisasjonsform-datadef-756">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsform</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="756" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetOrganisasjonsnummer-datadef-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummeret til enheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsnummer til årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="18" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetMorOrganisasjonsnummer-datadef-5128">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">11</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="5128" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetAdresse-datadef-15">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="15" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPostnummer-datadef-6673">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6673" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetPoststed-datadef-6674">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">14</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6674" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetTelefonnummer-datadef-755">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">15</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst13-repformat-12">
                    <xs:attribute fixed="755" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst13-repformat-12">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DeltakersInntektOgFormue-grp-3914">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>I. Deltakers inntekt og formue</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Fylles ut av selskapet</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ResultatDeltakerlignetSelskapAndel-datadef-13866">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>150 Andel skattepliktig overskudd/underskudd</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets skattemessige finansresultat.  Beløpet hentes fra RF-1184 post 10 og fordeles forholdsmessig mellom  deltakerne etter eierandel. Beløpet kan være negativt eller positivt.
                                    Dersom andel er kjøpt eller solgt i løpet av året, skal skattemessige  resultat fra selskapet beregnes forholdsmessige for antall måneder  deltaker har eid andelen, jf. skatteloven §10-41. Aksjonærer i
                                    NOKUS-selskap skal tilordnes sin andel av selskapets skattemessige  resultat for hele kjøpsåret etter sin eierandel ved innteksårets  utgang.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184, post 10 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="GevinstTapskontoInntektFradragAretsAndel-datadef-11827">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>151 Andel inntektsføring fra gevinst/taps-konto</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapet inntektsføring fra gevinst- og  tapskonto. Beløpet hentes fra RF-1184 post 11 og fordeles  forholdmessig mellom deltakerne etter eierandel. Dersom andel er  kjøpt eller solgt i
                                    løpet av året, skal deltakers andel beregnes  forholdsmessig for antall måneder deltaker har eid andelen, jf.  skatteloven §10-41. Aksjonær i NOKUS-selskap skal tilordens sin andel  for hele kjøpsåret etter sin
                                    eierandel ved innteksårets utgang.  Beløpet skal føres i deltakers RF-1190 post 12.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184, post 11 x eierandel. Overføres til RF-1190 post 12</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteNorskeSelskapBorsnoterteAndel-datadef-12712">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>152 Mottatt aksjeutbytte med rett til godgjørelse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapet aksjeutbytte fra norsk  børsnotert selskap, og som gir rett til godtgjørelsesfradrag. Beløpet  hentes fra RF-1184 post 12 og fordeles forholdsmessig mellom  deltakerne etter
                                    eierandel. Dersom andel er kjøpt eller solgt i løpet  av året, skal deltakers andel beregnes forholdsmessig for antall  måneder deltaker har eid andelen, jf. skatteloven §10-41. Aksjonær i  NOKUS-selskap skal
                                    tilordnes sin andel for hele kjøpsåret etter sin  eierandel ved innteksårets utgang. Beløpet skal føres i deltakers  RF-1190 post 15. Aksjeutbytte vil også være medtatt som inntekt under  post 150.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184, post 12 x eierandel. Overføres til RF-1190 post 15</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="TonnasjeskattAndel-datadef-5876">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>153 Andel tonnasjeskatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapet tonnasjeskatt. Beløpet hentes  fra RF-1184 post 13 og fordeles forholdsmessig mellom deltakerne  etter eierandel. Dersom andel er kjøpt eller solgt i løpet av året,  skal
                                    deltakers andel beregnes forholdsmessig for antall måneder  deltaker har eid andelen, jf. skatteloven §10-41. Aksjonær i  NOKUS-selskap skal tilordnes sin andel for hele kjøpsåret etter sin  eierandel ved
                                    inntektsårets utgang. Beløpet skal føres i deltakers  RF-1193 post 102.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184, post 13 x eierandel. Overføres RF-1193 post 102</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="FormueNettoAndel-datadef-12715">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>154 Andel netto formue</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets netto formue. Beløpet hentes  fra RF-1184 post 14 og fordeles forholdsmessig mellom deltakerne  etter eierandel. Dersom andel av netto formue er negativ, kan det  negative
                                    beløpet i post 154 for kommandittister ikke overstige  andelen av ikke innkalt selskapskapital i post 161. For aksjonær i  NOKUS-selskap skal verdien erstattes med omsetningsverdien på aksjene  dersom denne er
                                    kjent. Post 154 skal overføres til deltakers  selvangivelse og særskilt næringsoppgave RF-1190.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 14 x eierandel. Overføres RF-1190</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="UnderskuddFremforbartNOKUSAndel-datadef-19983">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>155 Andel fremførbart underskudd i NOKUS</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres andel underskudd på finansinntekter fra NOKUS. For  inntektsåret 2003 er slike underskudd ikke lenger fradragsberettiget  i øvrig inntekt, men må framføres til fradrag i senere års inntekt  fra samme selskap.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3914" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResultatDeltakerlignetSelskapAndel-datadef-13866">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">16</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="13866" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopHeltall15-repformat-37">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">37</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="GevinstTapskontoInntektFradragAretsAndel-datadef-11827">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av skattepliktig overskudd/underskudd (finansinntekt)</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">17</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="11827" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteNorskeSelskapBorsnoterteAndel-datadef-12712">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Mottatt aksjeutbytte (andel) med rett til godtgjørelse</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">18</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12712" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TonnasjeskattAndel-datadef-5876">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel tonnajeskatt fra NOKUS-selskap og deltakerlignet selskap</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">19</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="5876" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="FormueNettoAndel-datadef-12715">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av netto formue</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">20</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12715" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UnderskuddFremforbartNOKUSAndel-datadef-19983">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel fremførbart underskudd i NOKUS</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">21</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="19983" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ansvarskapital-grp-3907">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>II. Ansvarskapital</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AnsvarligKapitalAvtaltAndel-datadef-12705">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>160 Andel avtalt ansvarskapital</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets avtalte ansvarskapital.  Beløpet hentes fra RF-1184 post 50 og fordeles forholdsmessig mellom  deltakerne etter eierandel.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 50 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SelskapskapitalIkkeInnkaltAndel-datadef-3107">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>161 Andel ikke innkalt selskapskapital</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets ikke innkalte ansvarskapital.  Beløpet hentes fra RF-1184 post 51 og fordeles forholdsmessig mellom  deltakerne etter eierandel. Dette vil være den delen av  ansvarskapitalen
                                    som ennå ikke er innkalt, og som heller ikke er  medtatt som formue i selskapet. Beløpet vil være grensen for hvilke  negativ formue (post 154) kommandittister kan få fradrag for i sin  øvrige formue.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 51 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3907" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AnsvarligKapitalAvtaltAndel-datadef-12705">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av avtalt ansvarskapital</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">22</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12705" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SelskapskapitalIkkeInnkaltAndel-datadef-3107">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av ikke innkalt selskapskapital</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">23</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="3107" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PosterTilBeregningForDeltakerne-grp-3908">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>III. Poster til beregning for deltakerne</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EiendelerFinansaktivaProsent-datadef-12706">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>170 Finansaktiva i prosent av totalkapitalen</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres selskapets andel av finansaktiva i prosent av  totalkapitalen, og som hentes fra selskapets RF-1197 post 34. Det er  således forholdstallet som er beregnet på grunnlag av middelverdien  av selskapets
                                    inngående og utgående verdier som skal føres her.  Dersom deltakeren fører andelen i sitt regnskap etter  egenkapitalmetoden (nettometoden) eller kostmetoden, skal  forholdstallet overføres til deltakers RF-1197
                                    pkt. IV kolonne III og  VI, og benyttes til å beregne finansandelen av andelens bokførte  verdi 1.1. og 31.12 hos deltaker. Fordelingen hensyntas i deltakers  beregning av fradragsberettiget andel av renteutgiftene.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1197 post 34</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="Start-grp-3917"/>
                <xs:element minOccurs="0" ref="Slutt-grp-3938"/>
                <xs:element minOccurs="0" ref="BokforingDeltakerMetode-datadef-19982">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>173 Metode for bokføring</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Fylles ut av deltaker</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3908" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EiendelerFinansaktivaProsent-datadef-12706">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Finansaktiva i prosent av totalkapitalen</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">24</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Desimal73Desimaler-repformat-136">
                    <xs:attribute fixed="12706" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Start-grp-3917">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>1.1</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EiendelerAndelFjoraret-datadef-12709">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>171 Andel totalkapital</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets totale kapital pr 1.1 og 31.12  i inntektsåret. Beløpene hentes fra RF-1184 post 9400 og fordeles  forholdsmessig mellom deltakerne etter eierandel. Dersom deltaker  fører
                                    andelen i sitt regnskap etter kostmetoden, skal beløpene  overøres til deltakers RF 1197 post 12 for beregning av deltakers  eventuelle inntektstillegg for høy egenkapital. Dersom deltakers  eierandel har endret
                                    seg i løpet av året, er det den aktuelle  eierandelen av totalkapitalen pr. 1.1. og 31.12 som skal føres her.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 9400 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="GjeldAndelFjoraret-datadef-12710">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>172 Andel gjeld</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets gjeld pr 1.1 og 31.12 i  inntektsåret. Beløpene hentes fra RF-1184 post 9600 og fordeles  forholdsmessig mellom deltakerne etter eierandel. Dersom deltaker  fører andelen i
                                    sitt regnskap etter nettometoden, skal beløpene  overøres til deltakers RF-1197 post 13 for beregning av deltakers  eventuelle inntektstillegg for høy egenkapital. Dersom deltakers  eierandel har endret seg i løpet
                                    av året, er det den aktuelle  eierandelen av totalkapitalen pr. 1.1. og 31.12 som skal føres her.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 9500 + 9550 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3917" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EiendelerAndelFjoraret-datadef-12709">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av totalkapital, fjoråret</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">25</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12709" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GjeldAndelFjoraret-datadef-12710">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av gjeld, fjoråret</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">27</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12710" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Slutt-grp-3938">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>31.12</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EiendelerAndel-datadef-12708">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>171 Andel totalkapital</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 9400 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="GjeldAndel-datadef-12711">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>172 Andel gjeld</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>RF-1184 post 9500 + 9550 x eierandel</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3938" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EiendelerAndel-datadef-12708">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av totalkapital</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">26</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12708" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GjeldAndel-datadef-12711">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av gjeld</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">28</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12711" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="BokforingDeltakerMetode-datadef-19982">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">29</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="KodelisteEttValg3Bokforingsmetode-repformat-210">
                    <xs:attribute fixed="19982" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="KodelisteEttValg3Bokforingsmetode-repformat-210">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">210</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="13"/>
            <xs:enumeration value="bruttometoden">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Bruttometoden</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="nettometoden">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Nettometoden</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kostmetoden">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kostmetoden</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Inntredelsesbeskatning-grp-3919">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>IV. Inntredelsesbeskatning etter sktl §8-14</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>I det året deltaker trer inn i den særskilte  rederibeskatningsordningen skal deltaker skattlegges for differansen  mellom foretatte avskrivninger og beregnede avskrivninger etter sktl  §14-62 annet ledd fra og med inntektsåret
                        1997. Det samme gjelder når  deltaker innenfor ordningen har fått overført et skip etter reglene i  sktl §12-21. Beregningen foretas bare for skip som er ervervet etter  1.1.94. Beregningen gjelder også deltakers andel av skip
                        i  deltakerlignende selskaper, men bare for tidsrommet etter ervervelsen  av andelen, eventuelt ervervelsen for den som overfører andelen etter  sktl §11-21.  </p>
                    <p/>
                    <p>Beregningen skal foretas på grunnlag av den eierandelen deltaker til  en hver tid hadde i selskapet i beregningsperioden. Beregningen skal  dog ikke foretas for solgt andel før inntredelsen eller  overføringen.  </p>
                    <p/>
                    <p>Postene under IV behøver bare fylles ut dersom deltaker trer inn i  ordningen i inntektsåret, eller har fått overført andelene etter  reglene i skatteloven §11-21 i inntektsåret. Det er heller ikke  nødvendig å fylle ut annet
                        enn posten 181 dersom alle skip i  selskapet er ervervet av selskapet før 1.1.94. Dersom selskapet har  flere skip som er ervervet etter 1.1.94, må det fylles ut ett skjema  for hvert skip, eller tilsvarende beregning gis på
                        eget vedlegg for  øvrige skip.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="SkipKostprisAndel-datadef-12716">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>180 Andel skipets kostpris</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres deltakers andel av selskapets kostpris for skipet.  Kostprisen må eventuelt opplyses av selskapet.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SkipKjoptDato-datadef-1144">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>181 Ervervsdato skip</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres den dato som selskapet ervervet skipet. Datoen må eventuelt  opplyses av selskapet. Dersom ervervsdato er før 1.1.94, behøver  ingen andre poster under IV fylles ut.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelErvervDato-datadef-8336">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>182 Ervervsdato andel</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres den dato som selskapet ervervet andelen. Det er ikke  nødvendig å føre denne datoen dersom ervervelsen skjedde før 1.1.97.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="Ar-grp-4158"/>
            </xs:sequence>
            <xs:attribute fixed="3919" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SkipKostprisAndel-datadef-12716">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Andel av skipets kostpris</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">30</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12716" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SkipKjoptDato-datadef-1144">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">34</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Dato-repformat-5">
                    <xs:attribute fixed="1144" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Dato-repformat-5">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:element name="AndelErvervDato-datadef-8336">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">38</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Dato-repformat-5">
                    <xs:attribute fixed="8336" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ar-grp-4158">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p/>
                    <p>183 År</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Den faktiske årlige saldoavskrivningen for skipet må eventuelt  opplyses av selskapet. Deltakers andel av den faktiske  saldoavskrivningen fra og med 1997 eller skipets eventuelle senere  ervervsår skal føres her. Dersom
                        deltaker eller den som har overført  andelen etter sktl § 11-21 ervervet andelen i noen av  beregningsårene, skal hans andel av årets saldo-avskrivning begrenses  etter eiertid for andelen i året.  </p>
                    <p>Lineæravskrivning skal normalt beregnes til 4% av skipets kostpris, og  skal for det år skipet erverves, beregnes forholdsmessig etter  eiertid i året. Det samme gjelder dersom deltaker ervervet andelen  etter at skipet ble
                        ervervet av selskapet. Lineæravskrivningen skal  for dette året beregnes forholdsmessig etter deltakers eiertid for  andelen i året.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AndelSaldoavskrivning-grp-3925"/>
                <xs:element minOccurs="0" ref="AndelLinearavskrivninger-grp-3926"/>
                <xs:element minOccurs="0" ref="Differanse-grp-3927"/>
                <xs:element minOccurs="0" ref="InntredelsesbeskatningDifferanse-datadef-14880">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>184 Sum differanse Overføres RF-1197 post 24</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Sum differanse mellom faktiske saldoavskrivning og beregnet  lineæravskrivnign for beregningsårene skal overføres til deltakers  RF-1197 post 24.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="4158" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelSaldoavskrivning-grp-3925">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Andel Saldoavskrivninger</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Den faktiske årlige saldoavskrivningen for skip må eventuelt opplyses  av selskapet. Deltakers andel av den faktiske saldoavskrivningen fra  og med 1997 eller skipets eventuelle senere ervervsår skal føres her.  Dersom deltaker
                        eller den som har overført andelen etter sktl §11-21  ervervet andelen i noen av beregningsårene, skal hans andel av årets  saldoavskrivning begrenses etter eiertid for andelen i året.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="SaldoavskrivningSkipAndel1997-datadef-12718">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1997</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SaldoavskrivningSkipAndel1998-datadef-12719">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1998</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SaldoavskrivningSkipAndel1999-datadef-12720">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1999</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SaldoavskrivningSkipAndel2000-datadef-14243">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2000</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SaldoavskrivningSkipAndel2001-datadef-17004">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2001</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SaldoavskrivningSkipAndel2002-datadef-19658">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2002</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3925" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaldoavskrivningSkipAndel1997-datadef-12718">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av den faktiske saldoavskrivningen av skip i år 1997</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">31</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12718" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaldoavskrivningSkipAndel1998-datadef-12719">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av den faktiske saldoavskrivningen av skip i år 1998</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">35</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12719" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaldoavskrivningSkipAndel1999-datadef-12720">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av den faktiske saldoavskrivningen av skip i år 1999</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">39</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12720" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaldoavskrivningSkipAndel2000-datadef-14243">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av den faktiske saldoavskrivningen av skip i år 2000</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">42</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14243" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaldoavskrivningSkipAndel2001-datadef-17004">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">45</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="17004" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaldoavskrivningSkipAndel2002-datadef-19658">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">48</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="19658" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelLinearavskrivninger-grp-3926">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Andel Lineæravskrivninger</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Lineæravskrivning skal normalt beregnes til 4% av skipets kostpris, og  skal for det året skipet erverves, beregnes forholdsmessig etter  eiertid i året. Det samme gjelder dersom deltaker ervervet andelen  etter at skipet ble
                        ervervet av selskapet. Lineæravskrivning skal for  dette året beregnes forholdsmessig etter deltakers eiertid for  andelen i året.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AvskrivningLinearSkipAndel1997-datadef-12721">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1997</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningLinearSkipAndel1998-datadef-12722">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1998</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningLinearSkipAndel1999-datadef-12723">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1999</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningLinearSkipAndel2000-datadef-14244">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2000</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningerLinearSkipAndel2001-datadef-17005">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2001</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningerLinearSkipAndel2002-datadef-19659">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2002</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3926" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningLinearSkipAndel1997-datadef-12721">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av lineær avskrivning av skip i år 1997</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">32</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12721" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningLinearSkipAndel1998-datadef-12722">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av lineær avskrivning av skip i år 1998</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">36</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12722" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningLinearSkipAndel1999-datadef-12723">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av lineær avskrivning av skip i år 1999</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">40</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12723" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningLinearSkipAndel2000-datadef-14244">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Deltakers andel av lineær avskrivning av skip i år 2000</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">43</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14244" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningerLinearSkipAndel2001-datadef-17005">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">46</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="17005" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningerLinearSkipAndel2002-datadef-19659">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">49</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="19659" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Differanse-grp-3927">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Differanse</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AvskrivningSkipAndelDifferanse1997-datadef-12724">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1997</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningSkipAndelDifferanse1998-datadef-12725">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1998</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningSkipAndelDifferanse1999-datadef-12726">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>1999</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningSkipAndelDifferanse2000-datadef-14245">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2000</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningSkipAndelDifferanse2001-datadef-17006">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2001</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AvskrivningSkipAndelDifferanse2002-datadef-19660">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>2002</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3927" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningSkipAndelDifferanse1997-datadef-12724">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Differanse mellom saldoavskrivning og lineæravskrivning (andel) for skip i år 1997</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">33</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12724" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningSkipAndelDifferanse1998-datadef-12725">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Differanse mellom saldoavskrivning og lineæravskrivning (andel) for skip i år 1998</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">37</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12725" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningSkipAndelDifferanse1999-datadef-12726">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Differanse mellom saldoavskrivning og lineæravskrivning (andel) for skip i år 1999</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">41</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="12726" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningSkipAndelDifferanse2000-datadef-14245">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Differanse mellom saldoavskrivning og lineæravskrivning (andel) for skip i år 2000</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">44</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14245" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningSkipAndelDifferanse2001-datadef-17006">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">47</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="17006" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvskrivningSkipAndelDifferanse2002-datadef-19660">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">50</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="19660" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="InntredelsesbeskatningDifferanse-datadef-14880">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Sum differanse ved inntredelsesbeskatning for deltakerlignede selskap</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">51</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14880" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
