modules/altinn/skjemaer/melding-988-5414.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1030-A: Preutfylt selvangivelse, kontonummer' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1030-A Kontonummerendring</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Dette skjemaet skal kun benyttes av lønnstakere/pensjonister som  ønsker å endre kontonummer eller utbetalingsmåte i forbindelse med  årets selvangivelse.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>RF-1030-A Kontonummerendring</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Dette skjemaet skal berre brukast av lønnstakarar/pensjonistar som vil  endre kontonummer eller utbetalingsmåte i samband med sjølvmeldinga  for dette året.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Kontonummer-grp-4759"/>
            </xs:sequence>
            <xs:attribute fixed="988" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="5414" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1030-A" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Preutfylt selvangivelse, kontonummer" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="4758" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Kontonummer-grp-4759">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Skjema for endring av kontonummer eller utbetalingsmåte av  tilgodebeløp</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Skjema for endring av kontonummer eller utbetalingsmåte av  tilgodebeløp</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="OppgavegiverFodselsnummer-datadef-26">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Fnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Fnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KontonummerForeslatt-datadef-21335">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Forhåndsutfylt kontonr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Førhandsutfylt kontonr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KontonummerUtbetaling-datadef-21334">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Velg kontonummer eller utbetalingsmåte av tilgodebeløp fra listen</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Vel kontonummer eller utbetalingsmåte av tilgodebeløp frå lista</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="4759" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverFodselsnummer-datadef-26">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Fødselsnummer til oppgavegiveren</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst1111Modulus11-repformat-18">
                    <xs:attribute fixed="26" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst1111Modulus11-repformat-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">18</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KontonummerForeslatt-datadef-21335">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst15-repformat-61">
                    <xs:attribute fixed="21335" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst15-repformat-61">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">61</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KontonummerUtbetaling-datadef-21334">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="KodelisteEttValg-repformat-261">
                    <xs:attribute fixed="21334" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="KodelisteEttValg-repformat-261">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">261</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Kontonr.</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Betalingskort</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Betalingskort</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
