modules/altinn/skjemaer/melding-100-4176.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1001: Aksjonærbeskatningen - Formular nr. 2' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>RF-1001 Information of holders of fundshares etc. - Formula no. 2 -  2005</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="HJELP">
                    <p>The assessment value per fundshare is the value per 1. January 2005.  The assessment value per primary capital certificate is 65% of the  value per 1. January 2006.  </p>
                    <p/>
                    <p>Approved by the Directorate of Taxes pursuant to section 5-2 of the  Assessment Act and to decision of delegation made by the Ministry of  Finance on 28th November 1994, cf. Assessment Act sections 6-11 and  6-16 b.  </p>
                    <p/>
                    <p>Other public authorities use of information in RF-1045. In order to  coordinate and simplify the reporting obligations business and  industry have, the information which is stated in the Extract of  Accounts, RF-1045, can also
                        wholly or partly be used by other public  authorities that are entitled to collect the same information, cf.  The Act regarding the Register of Business Reporting Obligations  section 5 and 6. Information regarding a possible
                        coordination can be  obtained from the Central Coordination Register for Legal Entities  (Tel. +47 75 00 00) or from the Directorate of Taxes (Tel. +47 22 07  70 00)</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="HINT">
                    <p>Declaration with reference to holders of fundshares and primary  capital certificates in Norwegian equity funds etc per 1. January  2006, as well as dividends etc paid in the preceding year.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1001 Opplysninger om andelseiere i aksjefond mv - Formular nr. 2 -  Inntektsåret 2005</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Ligningsverdi per andel er 65% av andelsveriden 1. januar i  ligningsåret.  grunnfondsbevis verdsettes til 65% av kursverdien 1.  januar i ligningsåret.  Er kursen ikke notert eller kjent, settes  verdien til 65% av den antatte
                        salgsverdien.  </p>
                    <p/>
                    <p>Fastsatt av Skattedirektoratet med hjemmel i Finansdepartementets  delegeringsvedtak av 28. november 1994, jf. ligningsloven §§ 6-11 og  6-16 b.  </p>
                    <p/>
                    <p>Formularet fylles ut av foretaket i tilfeller der opplysningene ikke  blir gitt via VPS, og sendes likningskontoret innen utgangen av  mars.  </p>
                    <p>Andre offentlige organers bruk av opplysninger i RF-1001  </p>
                    <p>For å samordne og forenkle oppgaveinnleveringen fra næringslivet, kan  opplysninger som avgis i dette skjemaet, RF-1001, helt eller delvis  bli benyttet også av andre offentlige organer som har hjemmel til å  innhente de samme
                        opplysningene, jf. lov om Oppgaveregisteret §§ 5 og  6. Opplysninger om evt. samordning kan fås ved henvendelse til  Oppgaveregisteret på telefon 75 00 75 00, eller Skattedirektoratet på  telefon 22 07 70 00.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Oppgave over andelseiere i aksjefond og innehavere av grunnfondsbevis  i norske  foretak pr. 1. januar 2006, og utbetalt utbytte med mer i  det forløpne år.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>RF-1001 Opplysningar om partseigarar i aksjefond mm - Formular nr. 2 -  Inntektsåret 2005</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Likningsverdi per part er 65% av verdien av parten 1. januar i  likningsåret.  Verdien av grunnfondsbevis er 65% av kursverdien 1.  januar i likningsåret.  Er kursen ikkje notert eller kjend, skal  verdien vere 65% av truleg
                        salsverdi.  </p>
                    <p/>
                    <p>Fastsett av Skattedirektoratet med heimel i Finansdepartementet sitt  delegeringsvedtak av 28. november 1994, jf. ligningslova §§ 6-11 og  6-16 b.  </p>
                    <p/>
                    <p>Andre offentlege organ sin bruk av opplysningar i RF-1001. For å  samordna og forenkla oppgåveinnleveringa  frå næringslivet, kan  opplysningar som vart avgjeve i dette skjemaet, RF-1001, heilt eller  delvis bli nytta også av
                        andre offentlege organ som har heimel til å  innhente dei same opplysningane, jf. lov om Oppgaveregisteret §§ 5 og  6. Opplysningar om evt. Samordning kan ein få ved å vende seg til  Oppgåveregisteret på telefon 75 00 75 00,
                        eller Skattedirektoratet på  telefon 22 07 70 00.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                    <p>Oppgåve over partseigarar i aksjefond og eigarar av grunnfondsbevis i  norske  foretak pr. 1. januar 2006, og utbetalt utbytte med meir i  året som gjekk.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GenerellInformasjon-grp-2705"/>
                <xs:element minOccurs="0" ref="AksjerMv-grp-3052"/>
                <xs:element minOccurs="0" ref="Selskap-grp-368"/>
            </xs:sequence>
            <xs:attribute fixed="100" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="4176" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1001" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Aksjonærbeskatningen - Formular nr. 2" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="17" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerellInformasjon-grp-2705">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>General information</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Aksjonaren-grp-2253"/>
            </xs:sequence>
            <xs:attribute fixed="2705" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Aksjonaren-grp-2253">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>Information about the owner etc</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om eieren mv</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om eigaren mm</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjonarNavn-datadef-1153">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Name</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarAdresse-datadef-1154">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Address</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarPostnummer-datadef-7598">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Postal code</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarPoststed-datadef-7599">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>City</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststad</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarNasjonalitet-datadef-3523">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Country</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Land</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarKommune-datadef-1155">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Municipality of residence</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Bostedskommune</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Bustadskommune</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarFodselsnummer-datadef-1156">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Social security number</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Fødselsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Fødselsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarOrganisasjonsnummer-datadef-7597">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Org.no.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Org.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Org.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="2253" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarNavn-datadef-1153">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="1153" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjonarAdresse-datadef-1154">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="1154" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarPostnummer-datadef-7598">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst15-repformat-61">
                    <xs:attribute fixed="7598" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst15-repformat-61">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">61</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjonarPoststed-datadef-7599">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="7599" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarNasjonalitet-datadef-3523">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="3523" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarKommune-datadef-1155">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="1155" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjonarFodselsnummer-datadef-1156">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst1111Modulus11-repformat-18">
                    <xs:attribute fixed="1156" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst1111Modulus11-repformat-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">18</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjonarOrganisasjonsnummer-datadef-7597">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="7597" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerMv-grp-3052">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>Information about fundshares etc</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om andeler mv</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om partar mm</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjerMv-grp-365"/>
                <xs:element minOccurs="0" ref="UtbytteTilNorskAksjonar-grp-4179"/>
                <xs:element minOccurs="0" ref="UtbytteTilUtenlandskAksjonar-grp-3811"/>
            </xs:sequence>
            <xs:attribute fixed="3052" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMv-grp-365">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>Information about fundshares etc</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om andeler mv</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om partar mm</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjonarAksjerMvAntall-datadef-2294">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Number of fundshares etc per 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Antall andeler mv pr. 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kor mange partar mm pr. 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeMvPalydende-datadef-1126">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Nominal value of each primary capital certificate per 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Pålydende pr. grunnfondsbevis pr. 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kva grunnfondsbeviset lyder på pr. 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeMvLigningsverdi-datadef-2276">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Tax assessment value of each fundshare etc</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="HJELP">
                                <p>The assessment value per fundshare is the value per 1. January 2005.  The assessment value per primary capital certificate is 65 percent of  the value per 1 January 2005.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Likningsverdi pr. andel mv.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Ligningsverdi per andel er andelsverdien 1. januar i ligningsåret.  Grunnfondsbevis verdsettes til 65 prosent av kursverdien 1. januar i  ligningsåret. Er kursen ikke notert eller kjent, settes verdien til  65
                                    prosent av den antatte salgsverdien.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Likningsverdi pr. part m.m.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Likningsverdi per part er verdien av parten 1. januar i likningsåret.  Verdien av grunnfondsbevis er 65 prosent av kursverdien 1. januar i  likningsåret. Er kursen ikkje notert eller kjend, skal verdien vere  65
                                    prosent av truleg salsverdi.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="365" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarAksjerMvAntall-datadef-2294">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="2294" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Heltall15-repformat-79">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">79</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjeMvPalydende-datadef-1126">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="1126" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopDesimal152Desimaler-repformat-146">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">146</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter number with two fraction digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever to desimaler</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev to desimalar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:pattern value="-{0,1}[0-9]{1,}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjeMvLigningsverdi-datadef-2276">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">11</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="2276" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UtbytteTilNorskAksjonar-grp-4179">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Utbytte til norsk aksjonær</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Utbytte til norsk aksjonær</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="UtbytteRenterNorskAksjonar-datadef-2278">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Dividends etc, to Norwegian holder of fundshares</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Annet utbytte mv, til norsk andelseier</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Anna utbyte mm, til norsk partseigar</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="4179" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="UtbytteRenterNorskAksjonar-datadef-2278">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="2278" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopHeltall15-repformat-37">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">37</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="UtbytteTilUtenlandskAksjonar-grp-3811">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Utbytte til utenlandsk aksjonær</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Utbytte til utanlandsk aksjonær</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="UtbytteRenterUtenlandskAksjonar-datadef-2279">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Dividend etc to foreign holder of fundshares</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Utbytte mv til utenlandsk andelseier</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Utbyte mm til utanlandsk partseigar</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KildeskattProsentSpesifisert-datadef-19978">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Rate of tax withheld at source</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="HINT">
                                <p>For foreign owners only</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Herav trukket i kildeskatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Fylles bare ut for utenlandske eiere</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Av dette trekt i kjeldeskatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Vert berre fylt ut for utanlandske eigarar</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3811" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="UtbytteRenterUtenlandskAksjonar-datadef-2279">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="2279" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="KildeskattProsentSpesifisert-datadef-19978">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">14</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Desimal52DesimalerMax10000-repformat-192">
                    <xs:attribute fixed="19978" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Desimal52DesimalerMax10000-repformat-192">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">192</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive number with two fraction digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt tall med to desimaler</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt tal med to desimalar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5"/>
            <xs:pattern value="[0-9]{1,}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Selskap-grp-368">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>Equality fund etc</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Selskap</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Selskap</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EnhetNavn-datadef-1">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Name</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="EnhetOrganisasjonsnummer-datadef-18">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Org.no.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Org.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Org.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetAdresse-datadef-15">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Address</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPostnummer-datadef-6673">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Postal code</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPoststed-datadef-6674">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>City</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststad</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="368" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetNavn-datadef-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Navn på juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">15</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="1" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetOrganisasjonsnummer-datadef-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummeret til enheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsnummer til årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">16</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="18" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetAdresse-datadef-15">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Forretningsadresse til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">17</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="15" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPostnummer-datadef-6673">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer i forretningsadressen til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">18</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6673" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetPoststed-datadef-6674">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed i forretningsadressen til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">19</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6674" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
