modules/altinn/skjemaer/melding-1276-5674.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1139: Andelshavers/aksjonærs andeler av boligselskapets ligningsmessige belø' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1139 Andelshavers/aksjonærs andeler av boligselskapets  ligningsmessige beløp</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Oppgaveplikt for boligselskap er regulert i forskrift av 30. oktober  1992 nr. 773, gitt med hjemmel i ligningslovens § 6-16 bokstav c og §  6-17. Dersom en andel eies av flere eiere sammen, skal det gis en  oppgave for hver
                        eier der fordelingen av ligningsverdi, inntekter,  utgifter, formue og gjeld skal skje i forhold til antall eiere. Dette  er regulert i forskriften § 2 og § 3.  </p>
                    <p/>
                    <p>For mer informasjon, se Rettledning for boligselskap:  </p>
                    <p>www.skatteetaten.no/likningsoppgaver.  </p>
                    <p/>
                    <p>Spørsmål om innlevering av likningsoppgaver kan rettes til  Skattedirektoratet på e-post:  </p>
                    <p>systemforv.grunnlagsdata@skatteetaten.no eller telefon 22 07 75 00  (Brukerstøtten, Kontor for oppgavekvalitet).</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>RF-1139 Partshavers/aksjonærs delar av likningsmessige beløp for  bustadsameiget</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Oppgåveplikt for bustadselskap er regulert i forskrift av 30. oktober  1992 nr. 773, gitt med heimel i likningslova § 6-16 bokstav c og §  6-17. Dersom ein lut er eigd av fleire eigarar saman, skal det  gjevast ei oppgåve for
                        kvar eigar der fordelinga av likningsverdi,  inntekter, utgifter, formue og gjeld skal stå i forhold til talet på  eigarar. Det er regulert i forskrifta § 2 og § 3.  </p>
                    <p/>
                    <p>For meir informasjon, sjå Rettledning for bustadselskap:  </p>
                    <p>www.skatteetaten.no/likningsoppgåver.  </p>
                    <p/>
                    <p>Spørsmål om innlevering av likningsoppgåver kan rettast til  Skattedirektoratet på e-post:  systemforv.grunnlagsdata@skatteetaten.no eller telefon 22 07 75 00  (Brukarstøtte, Kontor for oppgåvekvalitet).</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="OpplysningerOppgavegiver-grp-6313"/>
                <xs:element minOccurs="0" ref="OpplysningerAndelshaver-grp-6315"/>
                <xs:element minOccurs="0" ref="SamletallOppgavegiver-grp-6424"/>
            </xs:sequence>
            <xs:attribute fixed="1276" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="5674" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1139" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Andelshavers/aksjonærs andeler av boligselskapets ligningsmessige belø" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="6311" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OpplysningerOppgavegiver-grp-6313">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om oppgåvegjevar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Oppgavegiver-grp-6312"/>
            </xs:sequence>
            <xs:attribute fixed="6313" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Oppgavegiver-grp-6312">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Opplysninger om oppgavegivers organisasjonsnummer og navn er hentet  fra Enhetsregisteret. Hvis du vil forandre noe i disse opplysningene,  kontakt Brønnøysundregistrene.  </p>
                    <p/>
                    <p>Opplysninger om oppgavegivers telefonnummer og adresse er hentet fra  Oppgaveregisteret. Hvis du vil forandre noe i disse opplysningene, må  du kontakte Skattedirektoratet.  </p>
                    <p/>
                    <p>Kontaktinformasjon: systemforv.grunnlagsdata@skatteetaten.no,  telefonnr. 22 07 75 00.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om oppgåvegjevar</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Opplysningar om oppgåvegjevar sitt organisasjonsnummer og namn er  henta frå Einingsregisteret. Viss du vil forandre noko i desse  opplysningane, må du kontakte Brønnøysundregistra.  </p>
                    <p/>
                    <p>Opplysningar om oppgåvegjevaren sitt telefonnummer og adresse er henta  frå Oppgåveregisteret. Viss du vil forandre noko i desse  opplysningane, må du kontakte Skattedirektoratet.  </p>
                    <p/>
                    <p>Kontaktinformasjon: systemforv.grunnlagsdata@skatteetaten.no,  telefonnr. 22 07 75 00.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="RapporteringsenhetNavn-datadef-21771">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="RapporteringsenhetOrganisasjonsnummer-datadef-21772">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Oppgavegivernr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Oppgåvegjevarnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="VirksomhetAdresse-datadef-25453">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="RapporteringsenhetPostnummer-datadef-21774">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="RapporteringsenhetPoststed-datadef-21775">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverTelefonnummer-datadef-620">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Telefonnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Telefonnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="OppgaveType-datadef-23782">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Oppgavetype</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Ordinæroppgaver  </p>
                                <p>Ordinæroppgaver er førstegangsoppgaver som blir innrapportert. Det kan  være flere ordinæroppgaver. Beløpet oppgis i hele kroner.  </p>
                                <p/>
                                <p>Endringsoppgaver  </p>
                                <p>Endringsoppgaver er oppgaver som endrer ordinæroppgaver. Det kan være  flere endringsoppgaver.  </p>
                                <p/>
                                <p>Beløpet på endringsoppgaver skal kun bestå av differanser mellom  korrekt beløp og tidligere innrapportert beløp. Reduksjon eller  annulering av tidligere innrapportert beløp merkes med negativt (-)  fortegn foran
                                    endringsbeløpet. Beløpet oppgis i hele kroner.  </p>
                                <p/>
                                <p>Sum endringsoppgave og ordinæroppgave kan totalt ikke bli mindre enn  0.  </p>
                                <p/>
                                <p>På endringsoppgaver må fødsels- eller organisasjonsnummer være  identisk med tidligere innrapportert oppgave. Dette gjelder også  eiertid og seksjonsnummer.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Oppgåvetype</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Ordinæroppgåver  </p>
                                <p>Ordinæroppgåver er førstegangsoppgåver som vert innrapporterte. Det  kan vere fleire ordinæroppgåver. Beløpet skal oppgjevast i heile  kroner.  </p>
                                <p/>
                                <p>Endringsoppgåver  </p>
                                <p>Endringsoppgåver er oppgåver som endrar ordinæroppgåver. Det kan vere  fleire endringsoppgåver.  </p>
                                <p/>
                                <p>Beløpet på endringsoppgåver skal berre bestå av differansen mellom  korrekt beløp og tidlegare innrapportert beløp. Reduksjon eller  annulering av tidlegare innrapportert beløp skal merkjast med  negativt (-)
                                    forteikn føre endringsbeløpet. Beløpet skal oppgjevast i  heile kroner.  </p>
                                <p/>
                                <p>Summen av endringsoppgåva og ordinæroppgåva kan totalt ikkje vere  mindre enn 0.  </p>
                                <p/>
                                <p>På endringsoppgåver må fødsels- eller organisasjonsnummer vere  identisk med tidlegare innrapportert oppgåve. Dette gjeld også  eigartid og seksjonsnummer.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Inntektsar-datadef-692">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Inntektsår</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Det kan kun leveres likningsoppgaver for forrige inntektsår, dvs.  totalt innbetalt beløp for hver enkelt andelshaver pr. 31.12.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Inntektsår</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Det kan berre leverast likningsoppgåver for føregåande inntektsår,  dvs. totalt innbetalt beløp for kvar einskild luteigar pr. 31.12.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="6312" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RapporteringsenhetNavn-datadef-21771">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Navn på juridisk enhet eller underliggende bedrift.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="21771" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RapporteringsenhetOrganisasjonsnummer-datadef-21772">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummer til juridisk enhet eller underliggende bedrift.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="21772" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VirksomhetAdresse-datadef-25453">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Næringsadressen til virksomheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="25453" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RapporteringsenhetPostnummer-datadef-21774">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer til juridisk enhet eller underliggende bedrift.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="21774" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RapporteringsenhetPoststed-datadef-21775">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed til juridisk enhet eller underliggende bedrift.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="21775" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OppgavegiverTelefonnummer-datadef-620">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Telefonnummer til oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="620" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgaveType-datadef-23782">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Oppgavetype som benyttes.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="KodelisteEttValg2Oppgavetype-repformat-389">
                    <xs:attribute fixed="23782" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="KodelisteEttValg2Oppgavetype-repformat-389">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">389</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                            <p>New information</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Ordinæroppgave</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Ordinæroppgåve</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                            <p>Change to already sent information</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Endringsoppgave</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Endringsoppgåve</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Inntektsar-datadef-692">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Ar44-repformat-6">
                    <xs:attribute fixed="692" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Ar44-repformat-6">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYear"/>
    </xs:simpleType>
    <xs:element name="OpplysningerAndelshaver-grp-6315">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om andelshaver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om partshaver</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="10" minOccurs="0" ref="AndelshaverOpplysninger-grp-6381"/>
            </xs:sequence>
            <xs:attribute fixed="6315" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelshaverOpplysninger-grp-6381">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om andelshaver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om partshaver</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Andelshaver-grp-6316"/>
                <xs:element minOccurs="0" ref="AndelshaverBelop-grp-6317"/>
            </xs:sequence>
            <xs:attribute fixed="6381" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Andelshaver-grp-6316">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Opplysninger om andelshaver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Opplysningar om partshaver</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AndelseierNavn-datadef-2752">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelseierOrganisasjonsnummer-datadef-26239">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Organisasjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Ved registrering av betaler skal det kun fylles ut ett fødsels- eller  organisasjonsnummer pr. betaler. Dersom fødsels- eller  organisasjonsnummer ikke er oppgitt, kan ikke andre opplysninger om  betaler (f.eks.
                                    navn og adresse, beløp mv.) bli registrert hos  Skattedirektoratet.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Organisasjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Ved registrering av betalar skal det berre fyllast ut eitt fødsels-  eller organisasjonsnummer per betalar. Dersom fødsels- eller  organisasjonsnummer ikkje er oppgitt, kan ikkje andre opplysningar om  betalaren
                                    (t.d. namn, adresse, beløp osb) registrerast hos  Skattedirektoratet.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelseierAdresse-datadef-26240">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelseierFodselsnummer-datadef-5709">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Fødselsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Ved registrering av betaler skal det kun fylles ut ett fødsels- eller  organisasjonsnummer pr. betaler. Dersom fødsels- eller  organisasjonsnummer ikke er oppgitt, kan ikke andre opplysninger om  betaler (f.eks.
                                    navn, adresse, beløp mv.) bli registrert hos  Skattedirektoratet.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Fødselsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Ved registrering av betalar skal det berre fyllast ut eitt fødsels-  eller organisasjonsnummer per betalar. Dersom fødsels- eller  organisasjonsnummer ikkje er oppgitt, kan ikkje andre opplysningar om  betalaren
                                    (t.d. namn, adresse, beløp osb.) registrerast hos  Skattedirektoratet.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelseierPostnummer-datadef-26241">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelseierPoststed-datadef-26242">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AndelseierLandkode-datadef-26243">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Landkode</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Nytt for inntektsåret 2006 er innføring av landkode på andelshaver.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Landkode</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Nytt for inntektsåret 2006 er innføring av landkode på luteigaren.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EiendomSeksjonnummer-datadef-26861">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Seksjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Seksjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EiendomSeksjonEiertidFra-datadef-26229">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Dato fra</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Dato frå</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EiendomSeksjonEiertidTil-datadef-26230">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Dato til</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Dato til</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EiendomSeksjonFremleie-datadef-26244">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Har det vært fremleie?</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Hvis boenheten er framleid, kryss ja. Opplysningen har ingen betydning  for innrapporteringen.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Har det vore framleige?</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Dersom bustadeininga er framleigd, kryssar du av for ja. Opplysninga  har inga tyding for innrapporteringa.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="6316" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelseierNavn-datadef-2752">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">15</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="2752" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelseierOrganisasjonsnummer-datadef-26239">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">16</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="26239" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelseierAdresse-datadef-26240">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">17</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="26240" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelseierFodselsnummer-datadef-5709">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">18</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst1111Modulus11-repformat-18">
                    <xs:attribute fixed="5709" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst1111Modulus11-repformat-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">18</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig fødselsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AndelseierPostnummer-datadef-26241">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">19</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="26241" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelseierPoststed-datadef-26242">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">20</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="26242" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AndelseierLandkode-datadef-26243">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">21</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst3BareTall-repformat-323">
                    <xs:attribute fixed="26243" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst3BareTall-repformat-323">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">323</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EiendomSeksjonnummer-datadef-26861">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">22</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="26861" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Heltall15-repformat-79">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">79</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EiendomSeksjonEiertidFra-datadef-26229">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Sameier har eid eiendomsseksjonen fra dato (dd mm)</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">23</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Dato-repformat-5">
                    <xs:attribute fixed="26229" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Dato-repformat-5">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:element name="EiendomSeksjonEiertidTil-datadef-26230">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Sameier har eid eiendomsseksjonen til dato (dd mm)</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">24</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Dato-repformat-5">
                    <xs:attribute fixed="26230" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EiendomSeksjonFremleie-datadef-26244">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">25</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="KodelisteEttValg2JaNei-repformat-4">
                    <xs:attribute fixed="26244" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="KodelisteEttValg2JaNei-repformat-4">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
            <xs:enumeration value="Ja">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                            <p>Yes</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Ja</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Ja</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Nei">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                            <p>No</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Nei</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Nei</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AndelshaverBelop-grp-6317">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Beløp for andelshaver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Beløp for partshaver</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="InntektAndreAndelseier-datadef-26245">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Andel andre inntekter</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres andelshavers andel av inntekter som:  </p>
                                <p>- renteinntekter  </p>
                                <p>- gevinst ved salg av formuesobjekter  </p>
                                <p>- realiserte aksjegevinster  </p>
                                <p>- inntekter fra fast eiendom utenom boligkomplekset (f.eks.  tomtefesteavgift fra frittstående garasjeanlegg)  </p>
                                <p>- mottatt gebyr ved leilighetssalg, eventuelt andre inntekter som ikke  har tilknytning til boligkomplekset  </p>
                                <p/>
                                <p>Eksempler på inntekter som ikke skal fordeles på andelshaverne er:  </p>
                                <p>- påløpt husleie  </p>
                                <p>- inntekter ved utleie av f.eks. leilighet som boligselskapet eier  </p>
                                <p/>
                                <p>For videre veilednimng, se Rettledning for boligselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgaver.  </p>
                                <p/>
                                <p>Beløp oppgis i hele kroner.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Del av andre inntekter</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her fører du luteigar sin del av inntekter som:  </p>
                                <p>- renteinntekter  </p>
                                <p>- vinst ved sal av formuesobjekt  </p>
                                <p>- realiserte aksjevinstar  </p>
                                <p>- inntekter frå fast eigedom utanom bustadkomplekset (t.d.  tomtefesteavgift frå frittståande garasjeanlegg)  </p>
                                <p>- motteke gebyr ved sal av leilegheit, eventuelt andre inntekter som  ikkje har tilknytning til bustadkomplekset  </p>
                                <p/>
                                <p>Døme på inntekter som ikkje skal fordelast på luteigarane er:  </p>
                                <p>- påløpt husleige  </p>
                                <p>- inntekter ved utleige av t.d. leilegheit som bustadselskapet eig  </p>
                                <p/>
                                <p>For vidare rettleiing, sjå Rettleiing for bustadselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgåver.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KostnaderAndreAndelseier-datadef-26246">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Andel kostnader</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres andelshavers andel av kostnader som:  </p>
                                <p>- rentekostnader (evt. byggelånsrenter)  </p>
                                <p>- pensjonspremie til heltidsansatte  </p>
                                <p>- kostnader som ikke har tilknytning til boligkomplekset (f.eks.  realisert aksjetap).  </p>
                                <p/>
                                <p>Eksempler på kostnader som ikke skal fordeles på andelshaverne:  </p>
                                <p>- påløpt husleie  </p>
                                <p>- kostnader til forretningsfører  </p>
                                <p>- lønn til vaktmester  </p>
                                <p>- vedlikeholdskostnader  </p>
                                <p>- kommunale avgifter  </p>
                                <p>- forsikringer  </p>
                                <p/>
                                <p>For videre veiledning, se Rettledning for boligselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgaver.  </p>
                                <p/>
                                <p>Beløp oppgis i hele kroner.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Del av kostnader</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her fører du luteigaren sin del av kostnader som:  </p>
                                <p>- rentekostnader (evt. byggjelånsrenter)  </p>
                                <p>- pensjonspremie til heiltidstilsette  </p>
                                <p>- kostnader som ikkje har tilknytning til bustadskomplekset (t.d.  realisert aksjetap).  </p>
                                <p/>
                                <p>Døme på kostnader som ikkje skal fordelast på luteigarane:  </p>
                                <p>- påløpt husleige  </p>
                                <p>- kostnader til forretningsførar  </p>
                                <p>- løn til vaktmeister  </p>
                                <p>- vedlikehaldskostnader  </p>
                                <p>- kommunale avgifter  </p>
                                <p>- forsikringar  </p>
                                <p/>
                                <p>For vidare rettleiing, sjå Rettleiing for bustadselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgåver  </p>
                                <p/>
                                <p>Beløp skal oppgjevast i heile kroner.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EiendomLigningsverdiAndelseier-datadef-26247">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Andel ligningsverdi</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Posten Andel likningsverdi skal fylles ut med andelshavers andel av  boligselskapets totale likningsverdi. Likningsverdien skal fordeles  mellom andelshaverne på den måten som er valgt av selskapet. For
                                    opplysninger om ligningsverdi kontakt ditt lokale ligningskontor.  </p>
                                <p/>
                                <p>For videre veiledning, se Rettledning for boligselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgaver.  </p>
                                <p/>
                                <p>Beløp oppgis i hele kroner.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Del av likningsverdi</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Posten Del av likningsverdi skal fyllast ut med luteigaren sin del av  bustadselskapet sin totale likningsverdi. Likningsverdien skal  fordelast mellom luteigarane på den måten som er vald av selskapet.  For
                                    opplysningar om likningsverdi kan du kontakte ditt lokale  likningskontor.  </p>
                                <p/>
                                <p>For vidare rettleiing, sjå Rettleiing for bustadselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgåver.  </p>
                                <p/>
                                <p>Beløp skal oppgjevast i heile kroner.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="FormueAnnenAndelseier-datadef-26248">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Andel annen formue</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Andel annen formue skal fylles ut med andelshavers andel av  boligselskapets samlede omløpsmidler. Dette er omløpsmidler som  kontanter, bank- og postgiroinnskudd, utestående fordringer og  forskutteringer med mer,
                                    samt langsiktig utestående fordringer,  aksjer, andeler og andre anleggsmidler som ikke inngår i eiendommens  likningsverdi, redusert med skattemessig kortsiktig gjeld.  </p>
                                <p/>
                                <p>Kortsiktig gjeld omfatter gjeldsposter med kortere løpetid enn ett år,  f.eks. leverandørgjeld, kassakreditt, skyldig skattetrekk og påløpte  renter. Det presiseres at det bare er påløpte forfalte renter som  anses
                                    som skattemessig gjeld.  </p>
                                <p/>
                                <p>Hvis en reduksjon av kortsiktig gjeld fører til at annen formue blir  negativ, overføres nettobeløpet til andel gjeld og øker denne.  </p>
                                <p/>
                                <p>Annen formue fordeles mellom andelshaverne på den måten som er valgt  av selskapet.  </p>
                                <p/>
                                <p>Beløp oppgis i hele kroner.  </p>
                                <p/>
                                <p>For videre veiledning, se rettledning for boligselskap  </p>
                                <p>www.skatteetatemn.no/likningsoppgaver.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Del av annan formue</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Del av annan formue skal fyllast ut med luteigaren sin del av  bustadselskapet sine samla omlaupsmiddel. Dette er omlaupsmiddel som  kontantar, bank- og postgiroinnskot, uteståande fordringar og  forskotteringar med
                                    meir, i tillegg til langsiktige uteståande  fordringar, aksjar, lutar og andre anleggsmiddel som ikkje inngår i  eigedomen sin likningsverdi, redusert med skattemessig kortsiktig  gjeld.  </p>
                                <p/>
                                <p>Kortsiktig gjeld omfattar gjeldspostar med kortare laupetid enn eitt  år, t.d. leverandørgjeld, kassakreditt, skuldig skattetrekk og  påløpte renter. Det må presiserast at det berre er påløpte renter som  ikkje har
                                    forfalle til betaling, som skal reknast som skattemessig  gjeld.  </p>
                                <p/>
                                <p>Viss ein reduksjon av kortsiktig gjeld fører til at annan formue blir  negativ, skal nettobeløpet overførast til anna gjeld og auke  denne.  </p>
                                <p/>
                                <p>Annan formue skal fordelast mellom luteigarane på den måten som er  vald av selskapet.  </p>
                                <p/>
                                <p>Beløpet skal oppgjevast i heile kroner.  </p>
                                <p/>
                                <p>For vidare rettleiing, sjå Rettleiing for bustadselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgåver.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="GjeldAnnenAndelseier-datadef-26249">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Andel gjeld</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Andel annen gjeld skal fylles ut med andelshavers andel av  boligselskapets langsiktige gjeld, f.eks. pantelån i Husbanken eller  andre banker, gjeld til fellesanlegg og eventuelt negativ andel av  annen formue.
                                    Andel gjeld skal fordeles mellom andelshaverne på den  måten som er valgt av selskapet.  </p>
                                <p/>
                                <p>Belpet oppgis i hele kroner.  </p>
                                <p/>
                                <p>For videre veiledning, se Rettledning for boligselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgaver.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Del av gjeld</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Del av anna gjeld skal fyllast ut med luteigaren sin del av  bustadselskapet si langsiktige gjeld, t.d. pantelån i Husbanken eller  andre bankar, gjeld til fellesanlegg og eventuelt negativ del av  annan formue.
                                    Gjelda skal fordelast mellom luteigarane på den måten  som er vald av selskapet.  </p>
                                <p/>
                                <p>Beløpet skal oppgjevast i heile kroner.  </p>
                                <p/>
                                <p>For viadre rettleiing, sjå Rettleiing for bustadselskap  </p>
                                <p>www.skatteetaten.no/likningsoppgaver.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="6317" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="InntektAndreAndelseier-datadef-26245">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">26</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26245" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopHeltall15-repformat-37">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">37</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KostnaderAndreAndelseier-datadef-26246">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">27</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26246" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EiendomLigningsverdiAndelseier-datadef-26247">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">28</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26247" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="FormueAnnenAndelseier-datadef-26248">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">29</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26248" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GjeldAnnenAndelseier-datadef-26249">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">30</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26249" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SamletallOppgavegiver-grp-6424">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Beløp fra oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Beløp frå oppgåvegjevar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="OppgavegiverBelop-grp-6314"/>
                <xs:element minOccurs="0" ref="OppgaveVedleggAntall-datadef-16544">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Totalt antall andelshavere/aksjonærer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Totalt antall andelshavere/aksjonærer utgjør antall rader der det er  oppgitt informasjon om andel, uavhengig av hvilke felt som er utfylt.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Totalt tal på partshavere/aksjonærar</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Totalt tal på luteigarar/aksjonærar utgjer talet på rader der det er  oppgitt informasjon om delane, uavhengig av kva felt som er fylde ut.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="6424" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverBelop-grp-6314">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Beløp fra oppgavegiver</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Det totale beløpet viser summen av alle oppgitte andelshavere,  uavhengeig av hvilke andre felt som er utfylt pr. andelshaver.  Beløpet oppgis i hele kroner.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Beløp frå oppgåvegjevar</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Det totale beløpet viser summen av alle oppgitte luteigarar, uavhengig  av kva for andre felt som er fylde ut per luteigar. Beløpet skal  oppgjevast i heile kroner.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="OppgavegiverInntektAndre-datadef-26237">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Totalt andre inntekter</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Totalt andre inntekter</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverKostnader-datadef-26238">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kostnader</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kostnader</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverEiendomLigningsverdi-datadef-16887">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Likningsverdi</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Likningsverdi</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverFormueAnnen-datadef-16904">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Annen formue</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Annan formue</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgavegiverGjeld-datadef-16910">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Gjeld</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Gjeld</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="6314" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverInntektAndre-datadef-26237">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26237" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverKostnader-datadef-26238">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">11</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="26238" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverEiendomLigningsverdi-datadef-16887">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="16887" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverFormueAnnen-datadef-16904">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="16904" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavegiverGjeld-datadef-16910">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">14</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="16910" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgaveVedleggAntall-datadef-16544">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="16544" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
