modules/altinn/skjemaer/melding-984-2576.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RA-0532-A: Undersøkelse om utenriksøkonomi - årsrapportering' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RA-0532-A. Rapportering om utenriksøkonomi. Årsrapportering</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GenerellInformasjon-grp-4491"/>
            </xs:sequence>
            <xs:attribute fixed="984" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="2576" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RA-0532-A" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Undersøkelse om utenriksøkonomi - årsrapportering" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="4490" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="971526920">
                            <xs:annotation>
                                <xs:documentation>STATISTISK SENTRALBYRÅ</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerellInformasjon-grp-4491">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Innsending av fil som er laget fra Excel-skjemaet gjøres ved å klikke  på arkfanen vedlegg til venstre.  </p>
                    <p>Rapporten skal gjelde den norske delen av den juridiske personen, dvs.  den juridiske personen eksk. eventuelle filialer i utlandet.  </p>
                    <p>Rapporten skal inneholde tall for hittil i år. Kontroller om tallene  avser riktig periode.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="OppgavePeriode-datadef-21619">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Rapporteringsperiode:</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgaveInnsendelseFrist-datadef-16296">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Innsendelsesfrist:</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="Enhet-grp-4492"/>
                <xs:element minOccurs="0" ref="Kontaktperson-grp-4493"/>
            </xs:sequence>
            <xs:attribute fixed="4491" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavePeriode-datadef-21619">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Ar44-repformat-6">
                    <xs:attribute fixed="21619" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Ar44-repformat-6">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYear"/>
    </xs:simpleType>
    <xs:element name="OppgaveInnsendelseFrist-datadef-16296">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Dato1999010129991231-repformat-47">
                    <xs:attribute fixed="16296" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Dato1999010129991231-repformat-47">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">47</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:minInclusive value="1999-01-01"/>
            <xs:maxInclusive value="2999-12-31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Enhet-grp-4492">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Rapporteringsenhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Rett eventuelle feil i boksene nedenfor.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EnhetNavn-datadef-1">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetOrganisasjonsnummer-datadef-18">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Organisasjonsnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                                <p>null</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                                <p>null</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetAdresse-datadef-15">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postadresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPostnummer-datadef-6673">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                                <p>null</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                                <p>null</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                                <p>null</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPoststed-datadef-6674">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="4492" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetNavn-datadef-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="1" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetOrganisasjonsnummer-datadef-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummeret til enheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsnummer til årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="18" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetAdresse-datadef-15">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="15" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPostnummer-datadef-6673">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6673" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPoststed-datadef-6674">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6674" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Kontaktperson-grp-4493">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Kontaktperson</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Oppgi alltid navn på kontaktperson som SSB kan kontakte.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="KontaktpersonNavn-datadef-2">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="KontaktpersonTelefonnummer-datadef-3">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Telefonnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KontaktpersonTelefaxnummer-datadef-324">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Telefaks</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="KontaktpersonEPost-datadef-2876"/>
                <xs:element minOccurs="0" ref="EnhetEPost-datadef-5963">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Rapporteringsenhetens E-post</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Husk vedlegg før innsending. Gå til arkfanen vedlegg oppe til venstre  i bildet. Legg til vedlegget. Send data.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="4493" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="KontaktpersonNavn-datadef-2">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst150-repformat-13">
                    <xs:attribute fixed="2" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst150-repformat-13">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KontaktpersonTelefonnummer-datadef-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst13-repformat-12">
                    <xs:attribute fixed="3" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst13-repformat-12">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="KontaktpersonTelefaxnummer-datadef-324">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst13-repformat-12">
                    <xs:attribute fixed="324" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="KontaktpersonEPost-datadef-2876">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Kontaktpersonens epostadresse</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">11</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst100-repformat-48">
                    <xs:attribute fixed="2876" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst100-repformat-48">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">48</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetEPost-datadef-5963">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="5963" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
