modules/altinn/skjemaer/melding-899-1062.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--title='RF-9997-H: Realisasjonsoppgave' lang='NOB'--><xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Realisasjonsoppgave</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GenerellInformasjon-grp-3343"/>
                <xs:element minOccurs="0" ref="Sum-grp-3347"/>
            </xs:sequence>
            <xs:attribute fixed="899" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="1062" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-9997-H" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Realisasjonsoppgave" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="3342" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerellInformasjon-grp-3343">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Likningskontor-grp-3752"/>
                <xs:element minOccurs="0" ref="Aksjonar-grp-3344"/>
                <xs:element minOccurs="0" ref="OppgavenGjelder-grp-3345"/>
            </xs:sequence>
            <xs:attribute fixed="3343" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Likningskontor-grp-3752">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Likningskontor</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="LigningskontorNavn-datadef-17601">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LigningskontorAdresse-datadef-17602">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LigningskontorPostnummer-datadef-17603">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LigningskontorPoststed-datadef-17604">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="OppgaveDato-datadef-17605">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Dato</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LigningskontorKontoradresse-datadef-17606">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kontoradresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LigningskontorTelefonnummer-datadef-17607">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Telefonnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="LigningskontorTelefaksnummer-datadef-17608">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Telefaksnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3752" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="LigningskontorNavn-datadef-17601">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Navnet til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="17601" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="LigningskontorAdresse-datadef-17602">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Adresse til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="17602" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LigningskontorPostnummer-datadef-17603">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44-repformat-10">
                    <xs:attribute fixed="17603" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="LigningskontorPoststed-datadef-17604">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst30-repformat-40">
                    <xs:attribute fixed="17604" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst30-repformat-40">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">40</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OppgaveDato-datadef-17605">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Dato for realisasjonen</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst20-repformat-85">
                    <xs:attribute fixed="17605" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst20-repformat-85">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">85</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="LigningskontorKontoradresse-datadef-17606">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Kontoradresse til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="17606" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LigningskontorTelefonnummer-datadef-17607">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Telefonnummer til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="PosHeltall8Min10000-repformat-149">
                    <xs:attribute fixed="17607" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="PosHeltall8Min10000-repformat-149">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">149</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="10000"/>
            <xs:maxInclusive value="99999999"/>
            <xs:totalDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="LigningskontorTelefaksnummer-datadef-17608">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Telefaksnummer til ligningskontoret</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="PosHeltall8Min10000-repformat-149">
                    <xs:attribute fixed="17608" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Aksjonar-grp-3344">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Aksjonær</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjonarNavn-datadef-1153">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarAdresse-datadef-1154">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarPostnummer-datadef-7598">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarPoststed-datadef-7599">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3344" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarNavn-datadef-1153">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="1153" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarAdresse-datadef-1154">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="1154" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarPostnummer-datadef-7598">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44-repformat-10">
                    <xs:attribute fixed="7598" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarPoststed-datadef-7599">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="7599" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="OppgavenGjelder-grp-3345">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Oppgaven gjelder</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjonarIdentifikajsonsnummer-datadef-17771">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Id.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetNavn-datadef-1">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetOrganisasjonsnummer-datadef-18">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Organisasjonsnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetISINNummer-datadef-17513">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>ISIN nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvPalydende-datadef-11315">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Pålydende</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="Aksjeklasse-datadef-17609">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Aksjeklasse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3345" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarIdentifikajsonsnummer-datadef-17771">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst14-repformat-153">
                    <xs:attribute fixed="17771" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst14-repformat-153">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">153</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetNavn-datadef-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="1" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetOrganisasjonsnummer-datadef-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummeret til enheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsnummer til årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="18" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetISINNummer-datadef-17513">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst12-repformat-147">
                    <xs:attribute fixed="17513" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst12-repformat-147">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">147</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerMvPalydende-datadef-11315">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal142Desimaler-repformat-90">
                    <xs:attribute fixed="11315" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopDesimal142Desimaler-repformat-90">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">90</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:pattern value="-{0,1}[0-9]{1,}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Aksjeklasse-datadef-17609">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Aksjeklasse</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst30-repformat-40">
                    <xs:attribute fixed="17609" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Sum-grp-3347">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Sum</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjerRealisasjonGevinstTap-datadef-18678">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Sum gevinst/tap</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>(post 12)</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerRealisasjonErvervOmkostninger-datadef-17622">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Sum omkostninger</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>(post 13 og 14)</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerRealisasjonGevinstTapNetto-datadef-17623">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Netto overført til selvangivelse eller næringsoppgave</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>(negativt beløp post 12)</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="3347" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerRealisasjonGevinstTap-datadef-18678">
        <xs:annotation/>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="18678" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopDesimal152Desimaler-repformat-146">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">146</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:pattern value="-{0,1}[0-9]{1,}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerRealisasjonErvervOmkostninger-datadef-17622">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Sum omkostninger ved realisasjon og erverv av aksjer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="17622" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerRealisasjonGevinstTapNetto-datadef-17623">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Netto gevinst/tap ved realisasjon av aksjer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="17623" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
