modules/altinn/skjemaer/melding-104-5126.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1003: Aksjonærbeskatningen - Formular nr. 4' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1003 Aksjonærbeskatning - Formular nr. 4 2006</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Oppgave over utenlandske aksjonærer (herunder andelseiere i aksjefond)  og utenlandske innehavere av grunnfondsbevis. Fylles ut av selskapet  selv om opplysninger blir gitt via Verdipapirsentralen.  </p>
                    <p/>
                    <p>Det må leveres opplysninger på eget ark for tilfelle hvor den angitte  skattesats ikke skal brukes fordi vedkommende aksjonær mv. enten har  fast driftssted i Norge eller råder over en større del av selskapets  stemmetall (jf.
                        vedkommende skatteavtale).  </p>
                    <p/>
                    <p>Sparebanker og verdipapirfond må sammen med dette skjema for samtlige  utenlandske aksjonærer mv. vedlegge oppgave på formular nr. 2  (RF-1001) for hvert land. Det må påses at det gis opp fullstendig  bostedsadresse. Blir
                        fullstendige opplysninger på formular nr. 2  levert via Verdipapirsentralen, er det ikke nødvendig å legge ved  oppgaven på formular nr. 2.  </p>
                    <p/>
                    <p>Fastsatt av Skattedirektoratet med hjemmel i Finansdepartementets  delegeringsvedtak av 24. oktober 1991, jf. Ligningsloven §§ 6-11 og  6-16b.  </p>
                    <p>Andre offentlige organers bruk av opplysninger i RF-1003. For å  samordne og forenkle oppgaveinnleveringen fra næringslivet, kan  opplysninger som avgis i dette skjemaet, RF-1003, helt eller delvis  bli benyttet også av andre
                        offentlige organer som har hjemmel til å  innhente de samme opplysningene, jf. lov om Oppgaveregisteret §§ 5 og  6. Opplysninger om evt. Samordning kan fås ved henvendelse til  Oppgaveregisteret på telefon 75 00 75 00, eller
                        Skattedirektoratet på  telefon 22 07 70 00.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>RF-1003 Aksjonærbeskatning - Formular nr. 4 2006</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Oppgåve over utanlandske aksjonærar (herunder andelseigare i  aksjefond) og utanlandske innehavarar av grunnfondsbevis. Fylljast ut  av selskapet sjølv om opplysningane blir geven via  Verdipapirsentralen.  </p>
                    <p/>
                    <p>Det må leverast opplysningar på eige ark i dei tilfella der den  oppgjevne skattesatens ikkje skal nyttast fordi vedkomande aksjonær  m.m. anten har fast driftsstad i Noreg eller rår over ein større del  av røystalet i
                        selskapet (jf. vedkomande skatteavtale).  </p>
                    <p/>
                    <p>Sparebankar og verdipapirfond må saman med dette skjemaet for alle  utanlandske aksjonærar m.m. leggja ved ei oppgåve på formular nr. 2  (RF-1001) for kvart land. Sjå etter at fullstendig bustadsadresse er  gjeven opp. Vert
                        fullstendige opplysningar på formular nr. 2 gitt via  Verdipapirsentralen, er det ikkje nødvendig å leggje ved oppgåve på  formular nr. 2.  </p>
                    <p/>
                    <p>Fastsett av Skattedirektoratet med heimel i Finansdepartementet sitt  delegeringsvedtak av 24. oktober 1991, jf. Ligningslova §§ 6-11 og  6-16b.  </p>
                    <p>Andre offentlege organ sin bruk av opplysningar i RF-1003. For å  samordna og forenkla oppgåveinnleveringa  frå næringslivet, kan  opplysningar som vart avgjeve i dette skjemaet, RF-1003, heilt eller  delvis bli nytta også av
                        andre offentlege organ som har heimel til å  innhente dei same opplysningane, jf. lov om Oppgaveregisteret §§ 5 og  6. Opplysningar om evt. Samordning kan ein få ved å vende seg til  Oppgåveregisteret på telefon 75 00 75 00,
                        eller Skattedirektoratet på  telefon 22 07 70 00.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GenerellInformasjon-grp-314"/>
                <xs:element minOccurs="0" ref="AksjerEllerGrunnfondsbevisTilhorendePersonerEllerSelskaperHjemm-grp-315"/>
                <xs:element minOccurs="0" ref="NavnPaDeUtenlandskeAksjonarene-grp-3054"/>
            </xs:sequence>
            <xs:attribute fixed="104" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="5126" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1003" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Aksjonærbeskatningen - Formular nr. 4" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="312" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerellInformasjon-grp-314">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Selskap-grp-2488"/>
            </xs:sequence>
            <xs:attribute fixed="314" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Selskap-grp-2488">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Selskap</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Selskap</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EnhetLigningskontor-datadef-6643">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Til likningskontoret i (kommunenr.)</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Til likningskontoret i (kommunenr.)</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetNavn-datadef-1">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetAdresse-datadef-15">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="EnhetOrganisasjonsnummer-datadef-18">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Org.nr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Org.nr.  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPostnummer-datadef-6673">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Postnr.  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPoststed-datadef-6674">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Poststad</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="2488" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetLigningskontor-datadef-6643">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6643" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetNavn-datadef-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Navn på juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="1" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetAdresse-datadef-15">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Forretningsadresse til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="15" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetOrganisasjonsnummer-datadef-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummeret til enheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsnummer til årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="18" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPostnummer-datadef-6673">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer i forretningsadressen til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6673" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetPoststed-datadef-6674">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed i forretningsadressen til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6674" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerEllerGrunnfondsbevisTilhorendePersonerEllerSelskaperHjemm-grp-315">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Aksjer eller grunnfondsbevis tilhørende personer eller selskaper  hjemmehørende i</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Aksjar eller grunnfondsbevis tilhørande personer eller selskaper  hjemmehørande i</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AntallAksjerPrUtdelingstidspunkt-grp-2270"/>
                <xs:element minOccurs="0" ref="SamletPalydende-grp-2271"/>
                <xs:element minOccurs="0" ref="SamletUtbytteEllerRenter-grp-2272"/>
            </xs:sequence>
            <xs:attribute fixed="315" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AntallAksjerPrUtdelingstidspunkt-grp-2270">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Antall aksjer pr. utdelingstidspunktet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Tal på aksjar pr. utdelingstidspunktet</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeAAntall-datadef-14128">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>A. Benin, Hellas, Tanzania, Trinidad og Tobago, Tunisia og Zimbabwe</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 20% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>A. Benin, Hellas, Tanzania, Trinidad og Tobago, Tunisia og Zimbabwe</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Til vanleg 20% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeBAntall-datadef-14129">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>B. Senegal</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>16% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>B. Senegal  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>16% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeCAntall-datadef-14130">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>C. Albania, Argentina, Aserbajdsjan, Australia, Barbados, Belgia,  Bulgaria, Canada, Chile, Danmark, De Nederlandske antiller, Den  forente Arabiske Republikk (Egypt), Elfenbenkysten, Estland, Finland,   Frankrike,
                                    Færøyene, Gambia, Indonesia, Irland, Island, Israel,  Italia, Jamaica, Japan, Kasakhstan*, Kina, Kroatia, Latvia, Litauen,  Luxembourg, Malta, Marokko, Mexico, Nederland, Nepal, New Zealand,  Pakistan, Polen,
                                    Portugal, Singapore, Slovakia, Slovenia, Spania, Sri  Lanka, Storbritannia og Nord-Irland, Sveits, Sverige, Sør-Afrika,  Sør-Korea, Thailand, Tsjekkia, Tyskland, Uganda, Ukraina, USA,  Vietnam, Zambia og Østerrike</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 15% norsk skatt  </p>
                                <p>* Utbytte vedtatt for Kasakhstan fra 01.mars 2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>C. Albania, Argentina, Aserbajdsjan, Australia, Barbados, Belgia,  Bulgaria, Canada, Chile, Danmark, De Nederlandske antiller, Den  forente Arabiske Republikk (Egypt), Elfenbenkysten, Estland, Finland,   Frankrike,
                                    Færøyene, Gambia, Indonesia, Irland, Island, Israel,  Italia, Jamaica, Japan, Kasakhstan*, Kina, Kroatia, Latvia, Litauen,  Luxembourg, Malta, Marokko, Mexico, Nederland, Nepal, New Zealand,  Pakistan, Polen,
                                    Portugal, Singapore, Slovakia, Slovenia, Spania, Sri  Lanka, Storbritannia og Nord-Irland, Sveits, Sverige, Sør-Afrika,  Sør-Korea, Thailand, Tsjekkia, Tyskland, Uganda, Ukraina, USA,  Vietnam, Zambia og Østerrike</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Til vanleg 15% norsk skatt  </p>
                                <p>* Utbytte vedtatt for Kasakhstan fra 01.mars 2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeDAntall-datadef-14131">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>D. Romania, Russland, Ungarn og Venezuela</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 10% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>D. Romania, Russland, Ungarn og Venezuela</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Til vanleg 10% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeEAntall-datadef-14132">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>E. Kypros, Malawi og Sierra Leone</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 5% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>E. Kypros, Malawi og Sierra Leone  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Til vanleg 5% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeFAntall-datadef-14133">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>F. Malaysia</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres også utbytte til utenlandske aksjonærer som er fritatt for  skatt, f.eks.  </p>
                                <p> - utbytte til internasjonale organisasjoner som er fritatt i hht.  internasjonal konvensjon ol.  </p>
                                <p>- utbytte til utenlandsk selskap som omfattes av fritaksmetoden, jf.  skatteloven § 2-38 i.  </p>
                                <p>- utbytte til personlige aksjonærer som er bosatt i en EØS-stat, jf.  Stortingets skattevedtak § 3-5, 4. ledd, tredje punktum.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Ingen norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>F. Malaysia</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her førar ein også utbytte til utanlandske aksjonærar som er fritatt  for skatt, td.  </p>
                                <p>- utbytte til internasjonale organisasjonar som er fritatt i samsvar  med internasjonal konvensjon o.a.  </p>
                                <p>- utbytte til utanlandsk selskap som er omfatta av fritaksmetoden, jf.  skattelova § 2-38 i.  </p>
                                <p>- utbytte til personlege aksjonærar som er busatte i ein annan  EØS-stat, jf. Stortinget sitt skattevedtak § 3-5, 4. ledd, 3.  punktum.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Ingen norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeGAntall-datadef-14134">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>G. Andre land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres også utbytte til utenlandske aksjonærer med 25% norsk skatt,  f.eks.  </p>
                                <p>- utbytte på aksjer som er registrert på forvalterkonti i VPS etetr  almennaksjeloven § 4-10 (nomineekonti)  </p>
                                <p>- utbytte til utenlandsk selskap mv. når det ikke er godtgjort at  aksjonæren har krav på lavere kildeskatt etter fritaksmetoden eller  en skatteavtale</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 25% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>G. Andre land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her skal det også førast utbytte til utenlandske aksjonærar med 25%  norsk skatt, t.d.  </p>
                                <p>- utbytte på aksjar som er registrerte på forvalterkonti i VPS etter  almennaksjelova § 4-10 (nomineekonti)  </p>
                                <p>- utbytte til utanlandsk selskap m.m. når det ikkje er godtgjort at  aksjonæren har krav på lavere kildeskatt etter fritaksmetoden eller  ein skatteavtale</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Til vanleg 25% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="2270" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeAAntall-datadef-14128">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14128" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Heltall15-repformat-79">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">79</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerMvUtlandGruppeBAntall-datadef-14129">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14129" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeCAntall-datadef-14130">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14130" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeDAntall-datadef-14131">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">16</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14131" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeEAntall-datadef-14132">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">19</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14132" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeFAntall-datadef-14133">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">22</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14133" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeGAntall-datadef-14134">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">25</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="14134" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SamletPalydende-grp-2271">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Samlet pålydende</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Samla pålydande</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeAPalydende-datadef-14135">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>A. Benin, Hellas, Tanzania, Trinidad og Tobago, Tunisia og Zimbabwe  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 20% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>A. Benin, Hellas, Russland, Tanzania, Trinidad og Tobago, Tunisia og  Zimbabwe  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>Vanligvis 20% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeBPalydende-datadef-14136">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>B. Senegal</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>16% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>B. Senegal  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>16% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeCPalydende-datadef-14137">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>C. Albania, Argentina, Aserbajdsjan, Australia, Barbados, Belgia,  Brasil, Bulgaria, Canada, Danmark, De Nederlandske antiller, Den  forente Arabiske Republikk (Egypt), Elfenbenkysten, Estland, Finland,  Tyskland,
                                    Frankrike, Færøyene, Gambia, Indonesia, Island, Israel,  Italia, Jamaica, Japan, Kina, Kroatia, Latvia, Litauen, Luxembourg,  Malta, Marokko, Mexico, Nederland, Nepal, New Zealand, Pakistan,  Polen, Portugal,
                                    Singapore, Slovakia, Slovenia, Spania, Sri Lanka,  Storbritannia og Nord-Irland, Sveits, Sverige, Sør-Afrika, Sør-Korea,  Tsjekkia, Ukraina, USA, Vietnam, Zambia og Østerrike  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 15% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>C. Albania, Argentina, Aserbajdsjan, Australia, Barbados, Belgia,  Brasil, Bulgaria, Canada, Danmark, De Nederlandske antiller, Den  forente Arabiske Republikk (Egypt), Elfenbenkysten, Estland, Finland,  Tyskland,
                                    Frankrike, Færøyene, Gambia, Indonesia, Island, Israel,  Italia, Jamaica, Japan, Kina, Kroatia, Latvia, Litauen, Luxembourg,  Malta, Marokko, Mexico, Nederland, Nepal, New Zealand, Pakistan,  Polen, Portugal,
                                    Singapore, Slovakia, Slovenia, Spania, Sri Lanka,  Storbritannia og Nord-Irland, Sveits, Sverige, Sør-Afrika, Sør-Korea,  Tsjekkia, Ukraina, USA, Vietnam, Zambia og Østerrike  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Vanligvis 15% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeDPalydende-datadef-14138">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>D. Irland, Romania, Russland, Ungarn og Venezuela</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 10% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>D. Irland, Romania, Ungarn og Venezuela</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>Vanligvis 10% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeEPalydende-datadef-14139">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>E. Kypros, Malawi og Sierra Leone</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 5% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>E. Kypros, Malawi og Sierra Leone</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>Vanligvis 5% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeFPalydende-datadef-14140">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>F. Malaysia</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres også utbytte til utenlandske aksjonærer som er fritatt for  skatt, f.eks.  </p>
                                <p> - utbytte til internasjonale organisasjoner som er fritatt i hht.  internasjonal konvensjon ol.  </p>
                                <p>- utbytte til utenlandsk selskap som omfattes av fritaksmetoden, jf.  skatteloven § 2-38 i.  </p>
                                <p>- utbytte til personlige aksjonærer som er bosatt i en EØS-stat, jf.  Stortingets skattevedtak § 3-5, 4. ledd, tredje punktum.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Ingen norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>F. Malaysia</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her førar ein også utbytte til utanlandske aksjonærar som er fritatt  for skatt, td.  </p>
                                <p>- utbytte til internasjonale organisasjonar som er fritatt i samsvar  med internasjonal konvensjon o.a.  </p>
                                <p>- utbytte til utanlandsk selskap som er omfatta av fritaksmetoden, jf.  skattelova § 2-38 i.  </p>
                                <p>- utbytte til personlege aksjonærar som er busatte i ein annan  EØS-stat, jf. Stortinget sitt skattevedtak § 3-5, 4. ledd, 3.  punktum.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Ingen norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvUtlandGruppeGPalydende-datadef-14141">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>G. Andre land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres også utbytte til utenlandske aksjonærer med 25% norsk skatt,  f.eks.  </p>
                                <p>- utbytte på aksjer som er registrert på forvalterkonti i VPS etetr  almennaksjeloven § 4-10 (nomineekonti)  </p>
                                <p>- utbytte til utenlandsk selskap mv. når det ikke er godtgjort at  aksjonæren har krav på lavere kildeskatt etter fritaksmetoden eller  en skatteavtale</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 25% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>G. Andre land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her skal det også førast utbytte til utenlandske aksjonærar med 25%  norsk skatt, t.d.  </p>
                                <p>- utbytte på aksjar som er registrerte på forvalterkonti i VPS etter  almennaksjelova § 4-10 (nomineekonti)  </p>
                                <p>- utbytte til utanlandsk selskap m.m. når det ikkje er godtgjort at  aksjonæren har krav på lavere kildeskatt etter fritaksmetoden eller  ein skatteavtale</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Vanligvis 25% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="2271" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeAPalydende-datadef-14135">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14135" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopHeltall15-repformat-37">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">37</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerMvUtlandGruppeBPalydende-datadef-14136">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">11</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14136" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeCPalydende-datadef-14137">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">14</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14137" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeDPalydende-datadef-14138">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">17</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14138" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeEPalydende-datadef-14139">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">20</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14139" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeFPalydende-datadef-14140">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">23</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14140" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvUtlandGruppeGPalydende-datadef-14141">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">26</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14141" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SamletUtbytteEllerRenter-grp-2272">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Samlet utbytte eller renter</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Samla utbytte eller renter</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeA-datadef-14142">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>A. Benin, Hellas, Tanzania, Trinidad og Tobago, Tunisia og Zimbabwe  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 20% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>A. Benin, Hellas, Russland, Tanzania, Trinidad og Tobago, Tunisia og  Zimbabwe</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>Vanligvis 20% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeB-datadef-14143">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>B. Senegal</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>16% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>B. Senegal  </p>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>16% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeC-datadef-14144">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>C. Albania, Argentina, Aserbajdsjan, Australia, Barbados, Belgia,  Brasil, Bulgaria, Canada, Danmark, De Nederlandske antiller, Den  forente Arabiske Republikk (Egypt), Elfenbenkysten, Estland, Finland,  Tyskland,
                                    Frankrike, Færøyene, Gambia, Indonesia, Island, Israel,  Italia, Jamaica, Japan, Kina, Kroatia, Latvia, Litauen, Luxembourg,  Malta, Marokko, Mexico, Nederland, Nepal, New Zealand, Pakistan,  Polen, Portugal,
                                    Singapore, Slovakia, Slovenia, Spania, Sri Lanka,  Storbritannia og Nord-Irland, Sveits, Sverige, Sør-Afrika, Sør-Korea,  Tsjekkia, Ukraina, USA, Vietnam, Zambia og Østerrike  </p>
                                <p/>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 15% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>C. Albania, Argentina, Aserbajdsjan, Australia, Barbados, Belgia,  Brasil, Bulgaria, Canada, Danmark, De Nederlandske antiller, Den  forente Arabiske Republikk (Egypt), Elfenbenkysten, Estland, Finland,  Tyskland,
                                    Frankrike, Færøyene, Gambia, Indonesia, Island, Israel,  Italia, Jamaica, Japan, Kina, Kroatia, Latvia, Litauen, Luxembourg,  Malta, Marokko, Mexico, Nederland, Nepal, New Zealand, Pakistan,  Polen, Portugal,
                                    Singapore, Slovakia, Slovenia, Spania, Sri Lanka,  Storbritannia og Nord-Irland, Sveits, Sverige, Sør-Afrika, Sør-Korea,  Tsjekkia, Ukraina, USA, Vietnam, Zambia og Østerrike  </p>
                                <p/>
                                <p/>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Vanligvis 15% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeD-datadef-14145">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>D. Irland, Romania, Russland, Ungarn og Venezuela</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 10% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>D. Irland, Romania, Ungarn og Venezuela</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>Vanligvis 10% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeE-datadef-14146">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>E. Kypros, Malawi og Sierra Leone</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 5% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>E. Kypros, Malawi og Sierra Leone</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p/>
                                <p>Vanligvis 5% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeF-datadef-14147">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>F. Malaysia</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres også utbytte til utenlandske aksjonærer som er fritatt for  skatt, f.eks.  </p>
                                <p> - utbytte til internasjonale organisasjoner som er fritatt i hht.  internasjonal konvensjon ol.  </p>
                                <p>- utbytte til utenlandsk selskap som omfattes av fritaksmetoden, jf.  skatteloven § 2-38 i.  </p>
                                <p>- utbytte til personlige aksjonærer som er bosatt i en EØS-stat, jf.  Stortingets skattevedtak § 3-5, 4. ledd, tredje punktum.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Ingen norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>F. Malaysia</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her førar ein også utbytte til utanlandske aksjonærar som er fritatt  for skatt, td.  </p>
                                <p>- utbytte til internasjonale organisasjonar som er fritatt i samsvar  med internasjonal konvensjon o.a.  </p>
                                <p>- utbytte til utanlandsk selskap som er omfatta av fritaksmetoden, jf.  skattelova § 2-38 i.  </p>
                                <p>- utbytte til personlege aksjonærar som er busatte i ein annan  EØS-stat, jf. Stortinget sitt skattevedtak § 3-5, 4. ledd, 3.  punktum.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Ingen norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeutbytteMvUtlandGruppeG-datadef-14148">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>G. Andre land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Her føres også utbytte til utenlandske aksjonærer med 25% norsk skatt,  f.eks.  </p>
                                <p>- utbytte på aksjer som er registrert på forvalterkonti i VPS etetr  almennaksjeloven § 4-10 (nomineekonti)  </p>
                                <p>- utbytte til utenlandsk selskap mv. når det ikke er godtgjort at  aksjonæren har krav på lavere kildeskatt etter fritaksmetoden eller  en skatteavtale</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Vanligvis 25% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>G. Andre land</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Her skal det også førast utbytte til utenlandske aksjonærar med 25%  norsk skatt, t.d.  </p>
                                <p>- utbytte på aksjar som er registrerte på forvalterkonti i VPS etter  almennaksjelova § 4-10 (nomineekonti)  </p>
                                <p>- utbytte til utanlandsk selskap m.m. når det ikkje er godtgjort at  aksjonæren har krav på lavere kildeskatt etter fritaksmetoden eller  ein skatteavtale</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Vanligvis 25% norsk skatt</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="2272" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeA-datadef-14142">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14142" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeB-datadef-14143">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14143" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeC-datadef-14144">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">15</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14144" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeD-datadef-14145">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">18</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14145" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeE-datadef-14146">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">21</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14146" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeF-datadef-14147">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">24</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14147" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeutbytteMvUtlandGruppeG-datadef-14148">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">27</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="14148" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="NavnPaDeUtenlandskeAksjonarene-grp-3054">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på de(n) utenlandske aksjonær(en)</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>De(n) utanlandske aksjonær(en) sitt namn</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="999" minOccurs="0" ref="NavnPaDeUtenlandskeAksjonarene-grp-328"/>
            </xs:sequence>
            <xs:attribute fixed="3054" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NavnPaDeUtenlandskeAksjonarene-grp-328">
        <xs:annotation/>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjonarNavnSpesifisertUtenlandskAksjonar-datadef-10155">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarAksjerMvAntallSpesifisertUtenlandskAksjonar-datadef-10156">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Antall aksjer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Tal aksjar</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerPalydende-datadef-1103">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Samlet pålydende</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p/>
                                <p>Samla pålydande</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjonarAksjeutbytteMv-datadef-8073">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Samlet utbytte eller renter</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Samla utbytte eller renter</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="328" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarNavnSpesifisertUtenlandskAksjonar-datadef-10155">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">28</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="10155" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarAksjerMvAntallSpesifisertUtenlandskAksjonar-datadef-10156">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">29</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="10156" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerPalydende-datadef-1103">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">30</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="1103" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarAksjeutbytteMv-datadef-8073">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">31</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="8073" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
