modules/altinn/skjemaer/melding-101-4088.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:brreg="http://www.brreg.no/or" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--title='RF-1002: Aksjonærbeskatningen - Formular nr 3' lang='NOB'-->
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>RF-1002 Opplysning om andeler i aksjefond, grunnfondsbevis i  sparebanker mv 2005 - Formular nr. 3</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                    <p>Dette formularet skal fylles ut av  foretaket og sendes  likningskontoret innen  utgangen av mars (jf. ligningslovens §  6-11).  </p>
                    <p>Husk at formular 2 i utfylt stand skal vedlegges i ett eksemplar for  hver andelseier mv. Har en andel skiftet eier etter at det var  vedtatt å utdele utbytte, skal det fylles ut to eksemplarer, ett for  den andelseieren som
                        eide andelen på det tidspunktet  utbytteutdelingen ble vedtatt og ett for den som eide andelen ved  årets utløp. Begge eksemplarer påføres eierskifte.  </p>
                    <p/>
                    <p>Fastsatt av Skattedirektoratet med hjemmel i Finansdepartementets  delegeringsvedtak av 28. november 1994, jf. ligningslovens §§ 6-11 og  6-16b.  </p>
                    <p/>
                    <p>Aksjeselskaper og almennaksjeselskapet skal ukrevet levere oppgave  over forhold som har betydningen for skattleggingen av aksjonærene,  se lov av 13. juni 1980 nr 24 om ligningsforvaltning, § 6-11.</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>RF-1002 Opplysing om partar i aksjefond, grunnfondsbevis i sparebankar  mm 2005 - Formular nr. 3</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                    <p>Dette formularet skal fyllast ut av foretaket og sendast  likningskontoret innan utgangen av mars (jf. likningslova § 6-11).  </p>
                    <p>Hugs at formular 2 i utfylt stand skal leggjast ved i eitt eksemplar  for kvar partseigar mm. Har ein part skifta eigar etter at det er  vedteke utdeling av utbyte, skal det fyllast ut 2 eksemplar, eitt for  den som eigde
                        parten då utdeling av utbyte var vedtatt, og eitt for  den som eig parten når året går ut. Begge eksemplara skal merkast med  eigarskifte.  </p>
                    <p/>
                    <p>Fastsett av Skattedirektoratet med heimel i Finansdepartementet sitt  delegeringsvedtak av 28. november 1994, jf. likningslova §§ 6-11 og  6-16b.  </p>
                    <p/>
                    <p>Aksjeselskaper og almennaksjeselskapet skal ukrevet levere oppgave  over forhold som har betydningen for skattleggingen av aksjonærene,  sjå lov av 13. juni 1980 nr 24 om ligningsforvaltning, § 6-11.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GenerellInformasjon-grp-2268"/>
                <xs:element minOccurs="0" ref="AksjerMv-grp-325"/>
                <xs:element minOccurs="0" ref="SarligeOpplysninger-grp-3371"/>
            </xs:sequence>
            <xs:attribute fixed="101" name="skjemanummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="4088" name="spesifikasjonsnummer" type="xs:integer" use="required"/>
            <xs:attribute fixed="RF-1002" name="blankettnummer" type="xs:string" use="optional"/>
            <xs:attribute fixed="Aksjonærbeskatningen - Formular nr 3" name="tittel" type="xs:string" use="optional"/>
            <xs:attribute fixed="319" name="gruppeid" type="xs:positiveInteger" use="optional"/>
            <xs:attribute name="etatid" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="974761076">
                            <xs:annotation>
                                <xs:documentation>SKATTEDIREKTORATET</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerellInformasjon-grp-2268">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Generell informasjon</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Selskap-grp-324"/>
                <xs:element minOccurs="0" ref="Regnskapsforer-grp-2269"/>
            </xs:sequence>
            <xs:attribute fixed="2268" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Selskap-grp-324">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Aksjefondets, sparebankens mv</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Aksjefondets, sparebankens m.m.</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="EnhetNavn-datadef-1">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Aksjefondets, sparebankens mv.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Aksjefondets, sparebankens m.m.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="EnhetOrganisasjonsnummer-datadef-18">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Organisasjonsnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Organisasjonsnummer</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetAdresse-datadef-15">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPostnummer-datadef-6673">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="EnhetPoststed-datadef-6674">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststad</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="EnhetLigningskontor-datadef-6643">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Til likningskontoret for (kommune)</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Til likningskontoret for (kommune)</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="VedleggRF1001-datadef-7689">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Vedlagt følger formular nr. 2 i utfylt stand</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Vedlagt følgjer formular nr. 2 i utfylt stand</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="324" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnhetNavn-datadef-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Navn på juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Navn på årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">1</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="1" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst175-repformat-8">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="175"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetOrganisasjonsnummer-datadef-18">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Organisasjonsnummeret til enheten</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Organisasjonsnummer til årsregnskapets eier</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">2</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst99Modulus11-repformat-1">
                    <xs:attribute fixed="18" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst99Modulus11-repformat-1">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">1</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Ugyldig organisasjonsnummer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetAdresse-datadef-15">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Forretningsadresse til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="15" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst105-repformat-9">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPostnummer-datadef-6673">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer i forretningsadressen til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6673" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst44BareTall-repformat-10">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">10</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetPoststed-datadef-6674">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed i forretningsadressen til juridisk enhet</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">5</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6674" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst35-repformat-3">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">3</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EnhetLigningskontor-datadef-6643">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">6</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6643" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VedleggRF1001-datadef-7689">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">7</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="KodelisteEttValg2JaNei-repformat-4">
                    <xs:attribute fixed="7689" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="KodelisteEttValg2JaNei-repformat-4">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">4</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
            <xs:enumeration value="Ja">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                            <p>Yes</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Ja</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Ja</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Nei">
                <xs:annotation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                            <p>No</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                            <p>Nei</p>
                        </brreg:tekst>
                    </xs:documentation>
                    <xs:documentation>
                        <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                            <p>Nei</p>
                        </brreg:tekst>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Regnskapsforer-grp-2269">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>Regnskapsfører</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>Rekneskapsførar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="RegnskapsforerNavn-datadef-280">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Navn</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Namn</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="RegnskapsforerAdresse-datadef-281">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="RegnskapsforerPostnummer-datadef-6678">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Postnr.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="RegnskapsforerPoststed-datadef-6679">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Poststed</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Poststad</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="2269" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegnskapsforerNavn-datadef-280">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Regnskapsfører sitt navn</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">17</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst175-repformat-8">
                    <xs:attribute fixed="280" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegnskapsforerAdresse-datadef-281">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Regnskapsfører sin adresse</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">18</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst105-repformat-9">
                    <xs:attribute fixed="281" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegnskapsforerPostnummer-datadef-6678">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Postnummer i adressen til regnskapsfører</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">19</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst44BareTall-repformat-10">
                    <xs:attribute fixed="6678" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegnskapsforerPoststed-datadef-6679">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Poststed i adressen til regnskapsfører</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">20</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst35-repformat-3">
                    <xs:attribute fixed="6679" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMv-grp-325">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>1 Opplysninger om andeler i aksjefond og grunnfondsbevis mv</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>1 Opplysningar om partar i aksjefond og grunnfondsbevis mm</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjekapitalGrunnfondskapital-datadef-6645">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Andelskapital eller grunnfondsbeviskapital pr 1. januar 2006, kr</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Andelskapital  eller grunnfondsbeviskapital pr. 1. januar 2006, kr</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvAntallFjoraret-datadef-7666">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Samlet antall andeler eller grunnfondsbevis pr. 01.01.2005</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Antall andeler mv. pr. 1.1.2005 oppgis her. Hvis antall andeler er  endret i løpet av inntektsåret, gis det nærmere opplysninger om dato  for endring og antall andeler før og etter endringen under post 2.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Samla tal på partar eller grunnfondsbevis pr 01.01.2005</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Samla tal partar pr. 1.1. 2005 skal førast her. Er talet endra i løpet  av inntektsåret, skal ein gi nærare opplysningar om dato for endring,  årsak til endringa og talet på partar før og etter endringa under  post 2.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvAntall-datadef-1125">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Samlet antall andeler eller grunnfondsbevis pr. 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Antall andeler mv. pr. 1.1.2006 oppgis her. Hvis antall andeler er  endret i løpet av inntektsåret, gis det nærmere opplysninger om dato  for endring og antall andeler før og etter endringen under post 2.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Samla tal på partar eller grunnfondsbevis pr. 01.01.2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Samla tal partar pr. 1.1. 2006 skal førast her. Er talet endra i løpet  av inntektsåret, skal ein gi nærare opplysningar om dato for endring,  årsak til endringa og talet på partar før og etter endringa under  post 2.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeMvPalydende-datadef-1126">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Pålydende for hver andel eller grunnfondsbevis pr. 1. januar 2005</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Pålydande for kvart grunnfondsbevis pr. 1. januar 2005</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjeMvUtbyttePrAksje-datadef-11414">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Utbytte utdelt i 2005 pr. andel eller grunnfondsbevis, kr</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Som utbytte regnes enhver utdeling som innebærer en vederlagsfri  overføring av verdier fra selskap til andelseier mv.  </p>
                                <p>Utbytte utbetalt fra aksjefond og utbytte av grunnfondsbevis i  sparebanker, kredittforeninger mv. føres i rubrikken for utbytte  utbetalt i 2005.  </p>
                                <p>Beløp utbetalt ved innløsning av andel i aksjefond beskattes ikke som  utbytte. Slik innløsning anses som realisasjon av andelen.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Utbytte utdelt i 2005 pr. part eller grunnfondsbevis, kr</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Som utbytte blir rekna alle slag utdelingar som inneber ein  vederlagsfri overføring av verdiar frå selskap til partseigar.  </p>
                                <p>Utbytte på partar i aksjefond og grunnfondsbevis i sparebankar,  kredittforeiningar m.m. skal  førast i rubriken for utbytte utbetalt  i 2005.  </p>
                                <p>Beløp utbetalt ved innløysing av part i aksjefond skal ikkje  skattleggjast som utbytte. Slik innløysing blir rekna som realisasjon  av parten.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvEgneAntallErvervet-datadef-2281">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Antall egne grunnfondsbevis ervervet av sparebanken mv. selv pr. 1.  januar 2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Talet på eigne grunnfondsbevis kjøpt av sparebanken m.m. sjølv pr. 1.  januar 2006</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvLigningsverdiFastsettelse-datadef-16543">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Verdifastsettelse pr. andel eller grunnfondsbevis, fastsatt etter  skattelovens regler</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Verdsettelsen (jf. skatteloven §§ 4-12 og 4-13)  </p>
                                <p>Verdien som føres opp skal legges til grunn ved formueslikningen av  andelseieren mv for inntektsåret 2004 (andelseierens formue pr.  1.1.2005).  </p>
                                <p/>
                                <p>Grunnfondsbevis  </p>
                                <p>Grunnfondsbevis verdsettes til 65% av kursverdien. 1. januar i  likningsåret (2006), eller hvis kursen ikke er kjent eller notert,  til 65% av antatt salgsverdi.  </p>
                                <p/>
                                <p>Andeler i aksjefond  </p>
                                <p>Andel i aksjefond verdsettes til 65% av andelsverdien 1. januar i  likningsåret (2006).</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                                <p>Fastsatt etter skattelovens regler</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Verdifastsetjing pr. part eller grunnfondsbevis etter reglane i  skattelova</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Verdsetjinga (jf. skattelova §§ 4-12 og 4-13)  </p>
                                <p>Verdien som blir ført opp skal leggjast til grunn ved formueslikninga  av eigaren for inntektsåret 2004 (eigaren si formue pr. 1.1.2006).  </p>
                                <p/>
                                <p>Grunnfondsbevis  </p>
                                <p>65% av kursverdien 1. januar i likningsåret (2006), eller dersom  kursen ikkje er kjend eller notert, til truleg salsverdi.  </p>
                                <p/>
                                <p>Partar i aksjefond  </p>
                                <p>65% av partsverdien 1. januar i likningsåret (2006) skal leggjast til  grunn.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                                <p>Etter reglane i skattelova</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AksjerMvEgneAntallSolgt-datadef-11337">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Antall andeler som ble innløst i 2005 etter andelseieregisteret.  Antall grunnfondsbevis solgt forrige kalenderår etter  grunnfondsregisteret</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="HJELP">
                                <p>Hvis det er innløst andeler, solgt grunnfondsbevis mv i løpet av året,  ber vi om nærmere opplysninger om dette under post 2. Hvor mange,  kurs, navnet på kjøper og selger, tidspunktet for salget, om salget  er
                                    formidlet av megler samt eventuelle andre opplysninger som har  betydning for verdsettelsen.</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Talet på partar som blei løyst inn i 2005 etter registeret over  partseigarar. Talet på grunnfondsbevis som blei selde i førre  kalenderår etter grunnfondsregisteret</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="HJELP">
                                <p>Dersom det har blitt løyst inn partar i løpet av året, ber ein om  nærare opplysningar om dette under post 2. Kor mange, kurs, tidspunkt  om det er brukt meklar og eventuelle andre opplysningar som har noko  å seie
                                    for verdsetjinga av partane. Det same gjeld opplysningar om  grunnfondsbevis.</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute fixed="325" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjekapitalGrunnfondskapital-datadef-6645">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">8</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopHeltall15-repformat-37">
                    <xs:attribute fixed="6645" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopHeltall15-repformat-37">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">37</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerMvAntallFjoraret-datadef-7666">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">9</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="7666" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Heltall15-repformat-79">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">79</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjerMvAntall-datadef-1125">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">10</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="1125" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjeMvPalydende-datadef-1126">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">11</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="1126" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BelopDesimal152Desimaler-repformat-146">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">146</brreg:info>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter number with two fraction digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever to desimaler</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev to desimalar</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:pattern value="-{0,1}[0-9]{1,}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AksjeMvUtbyttePrAksje-datadef-11414">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Utdelt utbytte pr aksje (andel), renter av grunnfondsbevis</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">12</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="11414" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvEgneAntallErvervet-datadef-2281">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">13</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="2281" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvLigningsverdiFastsettelse-datadef-16543">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">14</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="BelopDesimal152Desimaler-repformat-146">
                    <xs:attribute fixed="16543" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjerMvEgneAntallSolgt-datadef-11337">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">15</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall15-repformat-79">
                    <xs:attribute fixed="11337" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SarligeOpplysninger-grp-3371">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>2 Særlige opplysninger</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="HINT">
                    <p>Ved plassmangel spesifiseres på eget ark</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>2 Særlege opplysningar</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="HINT">
                    <p>Ved plassmangel spesifisér på eget ark</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AksjonarbeskatningTilleggsopplysninger-datadef-14877"/>
            </xs:sequence>
            <xs:attribute fixed="3371" name="gruppeid" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AksjonarbeskatningTilleggsopplysninger-datadef-14877">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="DEF">
                    <p>Særlige opplysninger om akjonærbeskatning</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:info brreg:type="plassering">16</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst999-repformat-97">
                    <xs:attribute fixed="14877" name="orid" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Tekst999-repformat-97">
        <xs:annotation>
            <xs:documentation>
                <brreg:info brreg:type="id">97</brreg:info>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="999"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
